.iyzi-breadcrumb
  position relative

  @media(max-width 480px)
    display none

  & .breadcrumb
    background-color transparent

  &--small
    & ol
      margin 0
      padding 0
      list-style-type none

      & li + li
        &:before
          font normal normal normal 14px/1 FontAwesome
          font-smoothing antialiased
          content '\f105'
          color #a6a6a6
          padding-left 10px
          padding-right 10px

      & li
        & a
          font-size 12px
          line-height 2
          letter-spacing 0.8px
          color #a6a6a6!important


  &--default
    & ol
      margin 0
      padding 0
      list-style-type none

      & li + li
        &:before
          font normal normal normal 14px/1 FontAwesome
          font-smoothing antialiased
          content '\f105'
          color #a6a6a6
          padding-left 10px
          padding-right 10px

      & li
        & a
          font-size 20px
          line-height 1.5
          letter-spacing 1px
          color #212121!important
