// BUTTON
.button
  display inline-block
  border-radius 100px
  text-align center
  font-size 18px
  font-weight 400
  cursor pointer

  @media(max-width 480px)
    font-size 16px !important;

  &__full-width
    width 100%

  &__inline
    display inline!important

  &__ca-white
    display inline-block
    font-weight 600
    padding 12px 30px
    background-color $white
    color #2ccecf
    border solid 1px #EBECEE
    text-align center
    letter-spacing 1px
    font-family MarkPro
    cursor pointer
    transition color .1s ease-out, background .3s ease-in

    @media(max-width 768px)
      width 100%
      padding 12px 15px

    &:hover
      border solid 1px #33A7BE
      color #33A7BE
      text-decoration none

  &__send
    display block
    border 0
    padding 15px 30px
    color $white
    background-color #2bcfcf
    font-size 18px
    letter-spacing 0.9px
    font-weight bold
    transition background .1s ease-in

    &:hover
      background-color #64acff

  &__calltoaction
    padding 12px 30px
    letter-spacing 1px
    font-weight bold
    color $white
    background-color #2CCECF
    transition background .1s ease-in
    border 1px solid transparent

    @media(max-width 768px)
      width auto
      padding 10px 20px

    @media (max-width: 480px)
        font-size 16px

    &:hover
      background-color $white
      border solid 1px #33A7BE
      color #33A7BE
      text-decoration none

  &__calltoaction--small
    padding 10px 20px
    background-image linear-gradient(78deg, #22d3ce, #4ebcd1);
    letter-spacing 2px
    font-size 18px
    font-weight bold
    color $white

    @media(max-width 768px)
      width 100%

    &:hover
      background-color $white
      background-image none
      border solid 1px #33A7BE
      color #33A7BE
      text-decoration none

  &__transparent-cyan
    background-image none
    background-color transparent
    border 1px solid #2CCECF
    padding 14px 48px
    letter-spacing 1px
    font-weight bold
    color #2CCECF
    transition background-color .1s ease-in

    &:hover
      background-color #2CCECF
      color $white

  &__gotoproduct
    width 270px
    height 51px
    line-height 50px
    background-color #2CCECF
    transition color .1s ease-in, background .1s ease-in, border .1s ease-in
    //box-shadow 0 5px 10px 0 rgba(36, 209, 205, 0.3)
    color $white
    font-weight bold
    border 1px solid transparent

    @media(max-width 768px)
      padding-left 30px
      padding-right 30px
      width auto

    &:hover
      background-color $white
      border solid 1px #33A7BE
      color #33A7BE
      text-decoration none


  &__offer
    padding 14px 48px
    background-color $white
    border 1px solid #3030301a
    //box-shadow 0 5px 10px 0 rgba(0, 0, 0, 0.05)
    //letter-spacing 2px
    color $cyan
    font-weight bold
    transition color .1s ease-in, background .1s ease-in, border .1s ease-in

    @media(max-width 768px)
      padding 14px 30px 14px 30px
      width auto

    &:hover
      border solid 1px #33A7BE
      color #33A7BE
      text-decoration none


  &__clean-cyan
    background-color #ffffff33
    border solid 1px #ebeceeb3
    transition background .1s ease-in
    height 45px
    line-height 45px
    padding 0 20px
    color $white
    font-size 14px
    font-weight 600
    letter-spacing normal

    &:hover
      text-decoration none
      background-color $white
      box-shadow 0 5px 10px 0 #0000000d
      border solid 1px #3030301a
      color #64acff

    @media (min-width 768px)
      font-size 18px

  &__clean-white-blue
    background-color $white
    box-shadow 0 5px 10px 0 #0000000d
    border solid 1px #3030301a
    transition background .1s ease-in
    height 45px
    line-height 45px
    padding 0 20px
    color #64acff
    font-size 14px
    font-weight 600
    letter-spacing normal

    &:hover
      text-decoration none
      background-color #64acff
      border solid 1px #64acff
      color $white

    @media (min-width 768px)
      font-size 18px

  &__clean-white-light-blue
    background-color $white
    border solid 1px #ebecee
    padding 10px 20px
    color #64acff
    letter-spacing 2px!important
    font-size 16px!important
    font-weight 600
    letter-spacing normal
    transition background .1s ease-in

    &:hover
      background-color #64acff
      color $white
      text-decoration none

    @media (min-width 768px)
      font-size 18px

  &__clean-white
    background-color $white
    box-shadow 0 5px 10px 0 #0000000d
    border solid 1px #3030301a
    padding 9px 20px
    color #444444
    font-size 14px
    letter-spacing 2px

    @media (min-width 768px)
      font-size 18px

  &__clean-trans
    background-color transparent
    //box-shadow 0 5px 10px 0 #0000000d
    border solid 1px $white
    padding 9px 20px
    color $white
    font-size 14px
    letter-spacing 2px
    transition color .1s ease-in, background .1s ease-in, border .1s ease-in

    @media(max-width 768px)
      width auto
      padding 10px 20px 10px 20px

    &:hover
      background-color $white
      color #444444
      text-decoration none

    @media (min-width 768px)
      font-size 18px
