.visuallyhidden
  border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px;
  overflow: hidden; padding: 0; position: absolute; width: 1px;


.overflow-x-hidden
  overflow-x hidden !important


.relative
  position relative

.b
  display block

.t
  display table
  width 100%

.t-cell
  display table-cell
  vertical-align middle

.no-gutter
  padding-left 0px!important
  padding-right 0px!important

@media (max-width 768px)
  .no-gutter-mobile
    padding-left 0px!important
    padding-right 0px!important

  .text-center-mobile
    text-align center


@media (min-width 992px)
  .no-gutter-desktop
    padding-left 0px!important
    padding-right 0px!important

  .no-gutter-left-desktop
    padding-left 0px!important

  .no-gutter-right-desktop
    padding-right 0px!important


.full-height
  height 100%

@media(min-width 768px)
  .full-height-desktop
    height 100%

  .pull-right-desktop
    float right

.grey-horizontal-seperator
  width 100%
  height 1px
  background-color #000
  opacity 0.1

@media(min-width 768px)
  .gutter-25-left-destop
    padding-left 25px!important
    padding-right 0!important

  .gutter-25-right-desktop
    padding-right 25px!important
    padding-left 0!important


.section-padding-90
  padding-top 90px
  padding-bottom 90px


.section-border-top
  border-top 1px solid #f2f2f2

.section-border-bottom
  border-bottom 1px solid #f2f2f2


label.error
  color red

input.error
  border 1px solid red
  color red
  margin-bottom 0px !important

.uptimeBlock
    border-bottom 1px dotted #CCC
    padding-bottom 10px
    margin-top 20px

.uptimeBody .shard
    width 10.2px
    height 30px
    float left
    margin-bottom 5px
    background-color green
    border-left 1px solid #fff

.uptimeBody .shard.down
    background-color red !important

.uptimeBody .shard.degraded
    background-color yellow !important

.uptimeHeader .ruleName
    font-size 22px
    font-weight 400

.uptimeHeader
    padding-bottom 10px

.loading-animation
    background  url('../images/335.gif') center center no-repeat transparent
    width 32px
    height 32px
    margin:0 auto;

.detail-loader
    background url('../images/335.gif') center center no-repeat transparent
    width 32px
    height 32px
    margin 30px auto

a rect
    cursor pointer !important
