.icon
  display inline-block
  text-indent -9999px
  vertical-align middle

  &--urunler
    retinaSprite($urunler_group)

  &--pin-white
    retinaSprite($pin_white_group)

  &--pin-gray
    retinaSprite($pin_gray_group)

  &--flag-gray
    retinaSprite($flag_gray_group)

  &--flag-of-turkey
    retinaSprite($flag_of_turkey_group)

  &--left-arrow
    retinaSprite($left_arrow_group)

  &--basic-icn-mail
    retinaSprite($basic_icn_mail_group)

  &--icn-99
    retinaSprite($icn_99_group)

  &--icn-98
    retinaSprite($icn_98_group)

  &--icn-97
    retinaSprite($icn_97_group)

  &--company-kit
    retinaSprite($company_kit_group)

  &--popup-close
    retinaSprite($popup_close_group)

  &--right-arrow
    retinaSprite($right_arrow_group)

  &--tooltip-arrow
    retinaSprite($tooltip_arrow_group)

  &--iyzico-statistic
    retinaSprite($iyzico_statistic_group)

  &--close
    retinaSprite($close_group)

  &--testimonial-quote
    retinaSprite($testimonial_quote_group)

  &--gray-plus
    retinaSprite($gray_plus_group)

  &--group-12
    retinaSprite($group_12_group)

  &--group-13
    retinaSprite($group_13_group)

  &--group-14
    retinaSprite($group_14_group)

  &--gray-plus
    retinaSprite($gray_plus_group)

  &--icn-uparrow
    retinaSprite($icn_uparrow_group)

  &--icn-downarrow
    retinaSprite($icn_downarrow_group)

  &--icn-rightarrow
    retinaSprite($icn_rightarrow_group)

  &--icn-shop
    retinaSprite($icn_shop_group)

  &--icn-leftarrow
    retinaSprite($icn_leftarrow_group)

  &--blue-plus
    retinaSprite($blue_plus_group)

  &--fraud
    retinaSprite($fraud_group)

  &--shield
    retinaSprite($shield_group)

  &--pricing-check
    retinaSprite($pricing_check_group)

  &--small-check
    retinaSprite($small_check_group)

  &--contact-724
    retinaSprite($contact_724_group)

  &--easy-refund
    retinaSprite($easy_refund_group)

  &--no-bank
    retinaSprite($no_bank_group)

  &--facebook
    retinaSprite($facebook_group)

  &--instagram
    retinaSprite($instagram_group)

  &--linkedin
    retinaSprite($linkedin_group)

  &--youtube
    retinaSprite($youtube_group)

  &--twitter
    retinaSprite($twitter_group)

  &--gplus
    retinaSprite($gplus_group)

  &--check-mobile
    retinaSprite($check_mobile_group)

  &--app-store
    retinaSprite($app_store_group)

  &--app-store-en
    retinaSprite($app_store_en_group)

  &--google-play
    retinaSprite($google_play_group)

  &--google-play-en
    retinaSprite($google_play_en_group)

  &--footer-plus
    retinaSprite($footer_plus_group)

  &--footer-minus
    retinaSprite($footer_minus_group)

  &--kart-saklama
    retinaSprite($kart_saklama_group)

  &--odeme-alma-yontemleri
    retinaSprite($odeme_alma_yontemleri_group)

  &--odeme-alma
    retinaSprite($odeme_alma_group)

  &--odeme-formu
    retinaSprite($odeme_formu_group)

  &--referencess-quote
    retinaSprite($referencess_quote_group)

  &--contact-phone
    retinaSprite($contact_phone_group)

  &--contact-mail
    retinaSprite($contact_mail_group)

  &--contactus-success
    retinaSprite($contactus_success_group)

  &--contactus-fail
    retinaSprite($contactus_fail_group)

  &--hamburger-menu
    retinaSprite($hamburger_menu_group)

  &--mobile-nav-menu-plus
    retinaSprite($mobile_nav_menu_plus_group)

  &--mobile-nav-menu-minus
    retinaSprite($mobile_nav_menu_minus_group)

  &--flags-tr
    retinaSprite($flags_tr_group)

  &--accordion-plus
    retinaSprite($accordion_plus_group)

  &--accordion-minus
    retinaSprite($accordion_minus_group)

  &--min-character
    retinaSprite($min_character_group)

  &--icn-mail
    retinaSprite($icn_mail_group)

  &--address
    retinaSprite($address_group)

  &--icn-phone
    retinaSprite($icn_phone_group)

  &--number-check
    retinaSprite($number_check_group)

  &--input-check-true
    retinaSprite($input_check_true_group)

  &--min-one-letter
    retinaSprite($min_one_letter_group)

  &--min-one-small-letter
    retinaSprite($min_one_small_letter_group)

  &--icon-clock
    retinaSprite($icon_clock_group)

  &--linkedin-job-advert
    retinaSprite($linkedin_job_advert_group)

  &--hamburger-menu-close
    retinaSprite($hamburger_menu_close_group)

  &--text-basic-icn-rightarrow
    retinaSprite($text_basic_icn_rightarrow_group)

  &--inputvaluetrue
    retinaSprite($inputvalue_true_group)

  &--inputvaluefalse
    retinaSprite($inputvalue_false_group)

  &--cookie-notification
    retinaSprite($cookie_notification_group)

.mobileMenuSubMenu
  .icon
    &--variable
      retinaSprite($left_arrow_group)
.mobileMenuSubMenu.hasSub.menuOpen
  .icon
    &--variable
      retinaSprite($mobile_nav_menu_minus_group)
.mobileMenuSubMenu.hasSub
  .icon
    &--variable
      retinaSprite($mobile_nav_menu_plus_group)

.accordion
  .icon
    &--variable
      retinaSprite($left_arrow_group)
.accordion.hasSub.menuOpen
  .icon
    &--variable
      retinaSprite($accordion_minus_group)
.accordion.hasSub
  .icon
    &--variable
      retinaSprite($accordion_plus_group)

.icon
    &--variable-hamburger
      retinaSprite($hamburger_menu_group)
.menu-open
  .icon
    &--variable-hamburger
       retinaSprite($hamburger_menu_close_group)

