.custom-tabs
  margin-top 60px

  &--table-cell
    display table-cell
    vertical-align middle
    float none
    height 100%

  &--content-link
    display block
    width 100%
    margin-right 50px
    font-size 18px
    color #64ACFF
    background transparent
    padding 10px 0
    border-radius 100px
    cursor pointer
    transition color .1s ease-out, background .3s ease-in

    @media(min-width 768px)
      width auto
      display inline-block

    @media(max-width 768px)
      font-size 16px
      text-align center

    & i.fa
      font-size 18px
      padding-left 10px
      padding-top 5px

      @media(max-width 768px)
        font-size 16px
        display none

  & .nav-tabs
    list-style-type none
    border 0
    width 100%
    text-align center

    & > li
      display inline-block
      margin-left -3px
      float none

    & > li > a
      border-radius 0
      margin 0
      font-size 14px
      border-bottom 1px solid $grey
      color #83bcff

      &:hover
        background-color transparent

        @media(max-width 768px)
          border-top 0
          border-left 0
          border-right 0

    & > li.active > a
      color #64ACFF
      font-weight bold

      &:hover
        border-bottom 1px solid rgba(48,48,48,.102)

      @media (max-width 768px)
        border-bottom 1px solid #64acff
        border-top 0
        border-left 0
        border-right 0

        &:hover
          border-bottom 1px solid #64acff


  & .tab-content
    width 100%
    margin-top 35px
    text-align left
    clearfix()

    & h2
      font-size 24px
      font-weight 600
      color $dark_grey
      margin 0

      @media(max-width 768px)
        font-size 18px
        text-align center

    & p
      font-size 18px
      line-height 1.67
      letter-spacing 1px
      color $mid_grey

      @media(max-width 768px)
        font-size 12px
        text-align center

  & .tab-pane
    clearfix()

@media (min-width 992px)
  .custom-tabs
    margin-top 60px

    &--table-cell
      display table-cell
      vertical-align middle
      float none
      height 100%

    &--content-link
      font-size 18px
      color #64ACFF
      transition color .1s ease-in

      &:hover
        border-radius 100px
        text-decoration none
        color #afd3fd

      & i.fa
        font-size 18px
        padding-left 10px
        padding-top 5px

    & .nav-tabs
      list-style-type none
      border 0
      width 100%
      text-align center

      & > li
        display inline-block
        float none
        margin-left -3px

      & > li > a
        width 170px
        border 1px solid #3030301a
        background-color #FFF
        border-radius 0
        margin 0
        font-size 18px

        &:hover
          background-color #fcfcfc

      & > li:first-child > a
        border-top-left-radius 100px
        border-bottom-left-radius 100px
        border-right 0

      & > li:last-child > a
        border-top-right-radius 100px
        border-bottom-right-radius 100px

      & > li.active > a
        background-color #FCFCFC
        border-bottom 1px solid #3030301a
        color #64ACFF
        font-weight 600

        &:hover
          border-bottom 1px solid #3030301a


    & .tab-content
      width 100%
      margin-top 60px
      text-align left
      clearfix()

      & h2
        font-size 24px
        font-weight 600
        color $dark_grey
        margin-bottom 30px

      & p
        font-size 18px
        line-height 1.67
        letter-spacing 1px
        color $mid_grey
        padding-bottom 20px

    & .tab-pane
      clearfix()


.iyzi-tabs-navigation
  position relative
  margin 0 auto
  text-align center
  height 47px
  min-height 47px
  width 100%
  margin-bottom 60px
  overflow-x: hidden
  white-space nowrap

  @media(max-width 768px)
    width 100%
    margin-bottom 30px
    overflow-x: auto

  &--item
    display inline-block
    padding-left 20px
    padding-right 20px
    padding-bottom 20px
    transition color .1s ease-in
    font-size 16px
    letter-spacing 2px
    color #212121
    outline none

    &:hover
      color #9b9b9b!important
      text-decoration none

    & a
        display block
        font-size 16px
        letter-spacing 2px
        color #212121
        outline none

        &:hover
          color #9b9b9b!important
          text-decoration none

    @media(max-width 768px)
      margin-left 5px
      margin-right 5px

    &:focus
      outline none
      text-decoration none

    &.active
      border-bottom 2px solid #39c7d0
