.text-right
  text-align right

.text-left
  text-align left

.text-center
  text-align center

.text-light
  font-weight 300

.text-bold
  font-weight 600

.text-16
  font-size 16px!important

.text-36
  font-size 36px

.text-48
  font-size 48px

.text-20
  font-size 20px


.none-margin
  margin 0


// text colors
.text-grey
  color #4d4d4d

.text-blue
  color #64acff
