// Variables
$white         = #FFFFFF
$black         = #000000
$blue          = #64ACFF
$cyan          = #4EBCD1
$iyzico_green  = #22D3CE
$grey          = #F1F4F6
$dark_grey     = #191919
$mid_grey      = #4D4D4D
$extra_grey    = #3E3E3E
$light_grey    = #3030301A
$light_blue    = #F5F9FC
