
@import "nib"

//Vendors
@import "ui/bootstrap-stylus/index"
@import "ui/bootstrap-stylus-new/bootstrap"


// Fonts & Fonts Awesome Icons
@import "../styles/fonts/style.css"
@import "../styles/slick.css"
@import "../styles/vendors/VideoJs/video-js.css"

//Sprites
@import "sprite/*"

//UI
@import "ui/_var"
@import "ui/_alignment"
@import "ui/_button"
@import "ui/_helper"
@import "ui/_input"
@import "ui/_text"
@import "ui/_tabs"
@import "ui/_link"
@import "ui/_breadcrumb"
@import "ui/_slick-theme"
@import "ui/_pagination"
@import "ui/_dropdown"
@import "ui/_icon"


// Common Components
@import "components/_test"
@import "components/_header"
@import "components/_cultureKit"
@import "components/_newButton"
@import "components/_footer"
@import "components/_whoIsiyzico"
@import "components/_iyzicoAlignment"
@import "components/_toolTip"
@import "components/_forBusinessHeader"
@import "components/_referencessBrands"
@import "components/_getPaidiyziLink"
@import "components/_widgetStyle"
@import "components/_whyiyzico"
@import "components/_privileges"
@import "components/_forBusinessTestimonial"
@import "components/_merchant-showcase"
@import "components/_howToSalesIncrease"
@import "components/_pricing"
@import "components/_screens"
@import "components/_iyzicoSss"
@import "components/_widget"
@import "components/_mainHeaderBanner"
@import "components/_businessMarketPlacePosWidget"
@import "components/_businessMarketPlace"
@import "components/_receivePaymentEasy"
@import "components/_forBusinessEtsyHeader"
@import "components/_etsyIntegration"
@import "components/_etsyActive"
@import "components/_appWidget"
@import "components/_businessHomePage"
@import "components/_businessVirtualPos"
@import "components/_businessReceivePayment"
@import "components/_businessReferencess"
@import "components/_referencessCards"
@import "components/_personalContractedSitesHeader"
@import "components/_navHeader"
@import "components/_contactWidget"
@import "components/_contactUs"
@import "components/_businessFraud"
@import "components/_iyziTabs"
@import "components/_helpForMyWork"
@import "components/_whoWeAre"
@import "components/_whoWeAreTabs"
@import "components/_whoWeAreContent"
@import "components/_teamMemberSays"
@import "components/_boardMembers"
@import "components/_ourInvestors"
@import "components/_certificates"
@import "components/_timeline"
@import "components/_pressHeaderContent"
@import "components/_press"
@import "components/_teamContent"
@import "components/_teamJoinUs"
@import "components/_career"
@import "components/_readyIntegration"
@import "components/_otherJobsCareerContent"
@import "components/_helpCenterTabs"
@import "components/_helpCenterContent"
@import "components/_generalConditionsHeader"
@import "components/_generalConditionsContent"
@import "components/_dropDownMenu"
@import "components/_contactUsForms"
@import "components/_cultureContent"
@import "components/_culture-photos"
@import "components/_easyFastHappy"
@import "components/_iyzicoTypography"
@import "components/_businessEtsy"
@import "components/_supportPageHeader"
@import "components/_contactUsFail"
@import "components/_contactUsSuccess"
@import "components/_personalMainPage"
@import "components/_personalBuyerProtectionHowTo"
@import "components/_businessFraudProgress"
@import "components/_businessBuyerProtection"
@import "components/_businessOnlineProceeds"
@import "components/_culture"
@import "components/_sliderTestimonial"
@import "components/_contactPopup"
@import "components/_failLandingPage"
@import "components/_merchantType"
@import "components/_newMerchant"
@import "components/_password-tooltip"
@import "components/_success-modal"
@import "components/_signup-modal"
@import "components/_whyiyzicoLP"
@import "components/_arasCargoCampaign"
@import "components/_cookie-notification"
@import "components/_campaignLP"
@import "components/_dynamic3ds"
@import "components/_smartPayment"
@import "components/_dynamic3dsProgress"
@import "components/_headerImageComponent"
@import "components/_newHeaderComponent"
@import "components/_featureCards"
@import "components/_iyzico-app"
@import "components/_pinkWave"
@import "components/_blueWave"
@import "components/_subscriptionLP"
@import "components/_video"
@import "components/_iyzipos-header"
@import "components/_buyerProtectedBankTransfer"
@import "components/_iyziCards"
@import "components/_businessBuyerProtectedMoneyTransferProgress"
@import "components/_iyziTestimonial"
@import "components/_iyziModal"
@import "components/_brandweekForm"
@import "components/_popupStyle"
@import "components/_massPayOut"
@import "components/_businessPwi"
@import "components/_ihLp"
@import "components/_newGraduanteHeaderContent"
@import "components/_newwhoIsiyzico"
@import "components/_iyziLife"
@import "components/_iyziRegister"
@import "components/_iyziGrid"
@import "components/_iyzi-pwi"
@import "components/_contactHero"
@import "components/_newAdress"
@import "components/_helpCenterCategory"
@import "components/_newiyziCards"
@import "components/_sliderNewScreen"
@import "components/_sliderScreen"
@import "components/_goodToGood"
@import "components/_gTGFullBox"
@import "components/_newWhoWeAre"
@import "components/_headerNotifications"
@import "components/_businessStand"
@import "components/_businessSocialMedia"
@import "components/_aboutUs"
@import "components/_openSource"
@import "components/_valentinesDay"
@import "components/_blogPost"
@import "components/_newPersonalMerchant"
@import "components/_newMerchantResult"
@import "components/_pPwiBrands"
@import "components/_brandsBox"
@import "components/_pwiBrandsModal"
@import "components/_femaleEntrepreneur"
@import "components/_explanation"
@import "components/_allBrandsKit"
@import "components/_alliyzicoLogo"
@import "components/_deercase"
@import "components/_videoSliderTestimonial"
@import "components/_finishcampaign"
@import "components/_iyzicoCardLP"
@import "components/_campaignSlider"
@import "components/_personalCashBack"
@import "components/_wwfcampaign"
@import "components/_camperCampaign"
@import "components/_milagronCampaign"
@import "components/_vitrutaCampaign"
@import "components/_personalCampaign"
@import "components/_kgySupport"
@import "components/_personalPwiShoplist"
@import "components/_careerAboutUs"
@import "components/_gKD"
@import "components/_personalHome"
@import "components/_personalMobileAppSlider"
@import "components/_iyzicoCepPos"
@import "components/_iyzi-modal"


// Helper
@import "helpers/_global"

// Hack Stylus
@import "helpers/_hack-stylus.css"

