.aboutUs
  .iyzi-site
    .generalConditionsContent
      .container
        .content
          .newWhoWeAreContent
            li
              .title
                @media (max-width 767px)
                  padding-bottom 8px !important


              .lastChild
                @media (max-width 767px)
                  margin-top 60px

              .brands
                @media (max-width 767px)
                  padding-top 24px

              strong
                padding-top 48px


              img

                @media (max-width 767px)
                  padding 15px
                  max-width 180px

                  &:first-child
                    padding 15px

                  &:last-child
                    padding 15px
