.campaignDetail
  .container
    display flex
    justify-content center

    .campaignWrap
      max-width 910px
      text-align center
      padding 100px 0

      @media(max-width 768px)
        padding 80px 20px

      @media(max-width 640px)
        padding 50px 30px

      h3
        color $clear-blue

      h2
        padding-bottom 16px

      ul
        text-align left
        padding 0
        margin 0

        li
          font-size 18px
          line-height 2.17
          color #848484

          @media(max-width 768px)
            font-size 14px

          a
            font-weight bold
            color $clear-blue

            &:hover
              color $clear-blue

            &:active
              color $clear-blue

            &:focus
              color $clear-blue
