.blogPost
  .iyzi-container
    flex-direction column
    max-width 1266px
    padding 0 48px

    @media(max-width 767px)
      padding 0 8px

    .header
      h2
        font-size 48px
        line-height 1.4
        color $gray-900
        font-weight bold
        padding-bottom 16px

        @media (max-width 767px)
          font-size 34px

      p
        font-size 24px
        color $gray-900
        line-height normal

        @media (max-width 767px)
          font-size 16px


    .content
      margin 49px 0 105px 0

      @media(max-width 767px)
        margin 25px 0 65px 0

      ul
        list-style none
        padding 0
        margin 0 -15px
        display flex
        flex-wrap wrap

        @media (max-width 767px)
          margin 0


        li
          padding 40px 24px
          margin 0
          display flex
          max-width 570px
          flex-wrap wrap
          background-color #f8f9fa
          border-radius 16px
          margin 15px

          @media (max-width 767px)
            padding 24px 16px
            margin 15px 0

          img
            width 100%

          .title
            font-weight 500
            font-size 28px
            line-height normal
            color $gray-900
            padding 32px 0 16px 0

            @media (max-width 767px)
              font-size 28px
              padding 16px 0

          .desc
            font-size 16px
            font-weight normal
            line-height 1.56
            color $gray-900

            @media (max-width 767px)
              font-size 16px

          .buttonGroup
            width 100%
            margin 0
            justify-content flex-end

            a
              font-size 16px
              line-height 1.56
              font-weight bold
              color $clear-blue
              display flex
              align-items center

              &:hover
                color $clear-blue

              img
                height 16px
                width 16px

