.blueWave
  width 100%
  background-image: url('../images/content/blue.svg?v=v4.0.28')
  background-color #fff
  background-repeat no-repeat
  background-position right

  @media (max-width 960px)
    background-image: url('../images/content/blue.svg?v=v4.0.28')
    margin 20px 0
    padding-top 50px

  @media (max-width 640px)
    background-image: url('../images/content/blue_mobile.svg?v=v4.0.28')

  .whiteMask
    background-image: linear-gradient(rgba(255,255,255,0), #fff)
    width 100%
    height 100%

  .container
    width 100%
    max-width 1270px
    padding 0 50px
    display flex

    @media (max-width 960px)
      flex-direction column

    @media (max-width 640px)
      padding 0 20px

    .content
      display flex
      flex 100%
      flex-direction column
      padding 0 0 0 15px
      align-self center

      @media (max-width 960px)
        padding 0 0 20px 0

      .title
        font-size 24px
        line-height normal
        font-weight bold
        color $clear-blue

        @media (max-width 960px)
          font-size 18px

        @media (max-width 640px)
          font-size 14px

      .buttonGroup
        margin 15px 0 0 0

        @media (max-width 640px)
          margin 5px 0 0 0

        a
          padding-left 0

      h2
        padding 5px 0 20px 0

      p
        font-size 18px

        @media (max-width 960px)
          font-size 14px

        @media (max-width 640px)
          font-size 12px

      span
        font-size 24px
        font-weight bold
        line-height normal

        @media (max-width 768px)
          font-size 18px

        @media (max-width 640px)
          font-size 16px

      ul
        list-style none
        padding 15px 0

        @media (max-width 640px)
          padding 0

        li
          font-size 18px
          line-height 1.67
          padding 20px 0
          display inline-flex
          align-items flex-start

          @media (max-width 768px)
            font-size 14px
            line-height 1.71

          @media (max-width 640px)
            padding 7px 0
            font-size 12px

          span
            font-size 28px
            color $clear-blue
            font-weight 500
            background-color #fff
            border 2px solid #e9e9e9
            border-radius 25px
            min-width 45px
            height 45px
            margin-right 15px
            display inline-flex
            align-items center
            justify-content center

            @media (max-width 640px)
              font-size 18px
              font-weight 500
              min-width 25px
              height 25px

    .image
      flex 100%
      padding 0 15px 0 0

      @media (max-width 960px)
        padding 0
        display flex
        justify-content center

      img
        width 100%
        max-width 570px

        @media (max-width 960px)
          max-width 480px
          height 100%
