.buyerProtectedMoneyTransferProgress
  background-image: url('../images/content/iyzico-korumali-havale-eft-yontemi-nasil-calisir.png')
  width 1170px
  height 623px
  margin-top 20px
  background-repeat no-repeat
  background-size contain

  @media (max-width 1024px)
    background-image: url('../images/content/iyzico-korumali-havale-eft-yontemi-nasil-calisir-960.png')
    width 960px
    background-size contain

  @media (max-width 768px)
    background-image: url('../images/content/iyzico-korumali-havale-eft-yontemi-nasil-calisir-768.png')
    width 768px
    height 431px
    background-size contain

  @media (max-width 640px)
    background-image: url('../images/content/iyzico-korumali-havale-eft-yontemi-nasil-calisir-320.png')
    width 320px
    height 1453px
    background-size contain


.buyerProtectedMoneyTransferProgressEN
  background-image: url('../images/content/frauctive-sahtecilik-onleme-sistemi-sizi-nasil-korur-en.png')
  width 1170px
  height 364px
  margin-top 100px
  background-size contain

  @media (max-width 1024px)
    background-image: url('../images/content/frauctive-sahtecilik-onleme-sistemi-sizi-nasil-korur-960-en.png')
    width 960px
    background-size contain

  @media (max-width 768px)
    background-image: url('../images/content/frauctive-sahtecilik-onleme-sistemi-sizi-nasil-korur-768-en.png')
    width 768px
    height 246px
    background-size contain

  @media (max-width 640px)
    background-image: url('../images/content/frauctive-sahtecilik-onleme-sistemi-sizi-nasil-korur-640-en.png')
    width 320px
    height 612px
    background-size contain
