.businessMarketPlace
  .newHeaderComponent
    background-image url('../images/content/market-place-hero-bg.png')

  .newiyziCards
    .iyzi-container
      @media(max-width 767px)
        padding-top 46px


      .cardWrap
        .cardBox
          display flex
          align-items center

      .header
        .title
          @media(max-width 767px)
            padding-bottom 24px

  .iyziRegister
    margin-bottom 80px

    @media(max-width 767px)
      margin 72px 0 56px 0

    .container
      h2
        padding-bottom 120px

        @media(max-width 767px)
          padding-bottom 67px

      .downloadBtn
        a
          @media(max-width 767px)
            margin 0


  .pricing
    margin 80px 0 120px 0

    @media(max-width 767px)
      margin 56px 0 72px 0

  .iyziLife
    .iyzi-container
      ul
        li
          .itemContent
            .buttonGroup
              @media(max-width 960px)
                align-items center

              a
                &:first-child
                  margin-right 16px

                  @media(max-width 960px)
                    margin 0 0 16px 0


  .sliderNewScreen
    .iyzi-container
      .screenImage
        @media(max-width 767px)
          margin-bottom 200px

      .screenSelect
        ul
          li
            .bulletWrap
              h5
                @media(max-width 960px)
                  font-size 24px

                @media(max-width 767px)
                  font-size 16px

  .newWhoIsiyzico
    margin-bottom 20px

  .marketPlaceProgress
    background-image: url('../images/content/mp-process-graph.png')
    width 1170px
    height 338px
    margin-top 18px
    background-size contain
    background-repeat no-repeat

    @media (max-width 1024px)
      background-image: url('../images/content/pazaryeri-odeme-cozumu-ile-neler-yapabilirsiniz-960.png')
      width 960px
      height 251px
      background-size contain

    @media (max-width 960px)
      background-image: url('../images/content/mp-process-graph-768.png')
      width 290px
      height 1330px
      margin-top 0px
      background-size contain

  .marketPlaceProgressEN
    background-image: url('../images/content/pazaryeri-odeme-cozumu-ile-neler-yapabilirsiniz-en.png')
    width 1170px
    height 307px
    margin-top 100px
    background-size contain
    background-repeat no-repeat

    @media (max-width 1024px)
      background-image: url('../images/content/pazaryeri-odeme-cozumu-ile-neler-yapabilirsiniz-960-en.png')
      width 960px
      height 251px
      background-size contain

    @media (max-width 768px)
      background-image: url('../images/content/pazaryeri-odeme-cozumu-ile-neler-yapabilirsiniz-768-en.png')
      width 768px
      height 201px
      background-size contain

    @media (max-width 640px)
      background-image: url('../images/content/pazaryeri-odeme-cozumu-ile-neler-yapabilirsiniz-640-en.png')
      width 320px
      height 1023px
      background-size contain

