.businessEtsy
  .widgetPaddingUl
    .content
      ul
        @media (max-width 640px)
          padding 50px 0

        .pL-60
          @media (max-width 640px)
            padding-left 40px
  
  .referencessBrands
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px

  .sliderTestimonial
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px