.businessVirtualPos
  .newHeaderComponent
    .iyzi-container
      .content
        padding 0 15px 0 0
        max-width 585px

        @media (max-width 1023px)
          max-width none
          padding 32px 16px

        @media (max-width 767px)
          padding 16px 8px

        .businessVirtualPosTitle
          font-size 58px
          font-weight bold

          @media (max-width 767px)
            font-size 34px

          span
            color $clear-blue

            h1
              display inline-block
              color $clear-blue
              font-weight bold


      .imgResp
        padding 0 0 0 15px

        @media (max-width 1023px)
          padding 0

  .businessVirtualPosTitle
    font-size 48px
    line-height normal
    font-weight 300
    letters-pacing normal
    color #202020

    @media (max-width 768px)
      font-size 38px

    @media (max-width 640px)
      font-size 24px

    strong
      font-weight bold

      h1
        font-weight bold
        display inline-block

  .privileges
    padding-bottom 0

  .pricing
    .container
      h2
        display inline-flex
        flex-direction column
        align-items center
        padding-bottom 20px

        span
          color $clear-blue
          font-weight bold
          font-size 36px
          line-height normal
          padding-bottom 5px

          @media (max-width 640px)
            font-size 24px

        .vPsubTitle
          font-size 48px
          font-weight normal
          color #202020

          @media (max-width 640px)
            font-size 28px

      .widgetMainDescription
        padding 0px 0 31px 0
        font-size 18px
        line-height 1.67
        color #848484

        @media (max-width 960px)
          padding 0

        @media (max-width 640px)
          font-size 12px
          padding 0 0 11px 0

    .mT--130
      margin-top -160px

  .sliderScreen
    margin-bottom 144px

    @media (max-width 960px)
      margin-bottom 120px

    @media(max-width 767px)
      margin-bottom 72px

  .sliderNewScreen
    padding-bottom 85px

    @media (max-width 767px)
      padding-bottom 10px

    .iyzi-container
      .screenImage
        margin-bottom 140px

        @media(max-width 767px)
          margin-bottom 180px

    .title
      @media (max-width 768px)
        padding-bottom 15px

    .topImg
      margin-top 260px

      @media (max-width 768px)
        margin-top 200px

  .widgetBgPink
    margin 80px 0 20px 0

    @media (max-width 640px)
      margin 50px 0 20px

  .whyiyzico
    padding 50px 0

    @media (max-width 640px)
      padding 30px 0

    .container
      flex-direction column
      align-items center

      h2
        display inline-flex
        flex-direction column
        align-items center
        padding-bottom 25px

        span
          color $clear-blue
          font-weight  bold
          font-size 24px
          line-height normal
          padding-bottom 5px

      .whyiyzicoBoxWrap
        display flex

        @media (max-width 640px)
          flex-direction column

        .whyiyzicoBox

          i
            @media (max-width 640px)
              margin-bottom 20px

          .description
            padding 40px 0

            @media (max-width 640px)
              padding 0

          .whyiyzicoBoxTitle
            padding 40px 0 0 0
            justify-content center
            min-height 98px

      .buttonGroup
        margin 0

        @media (max-width 640px)
          margin-top 20px

  .forBusiness
    .container
      .headerContent
        @media (max-width 640px)
          padding 80px 15px 0 15px
          z-index 1
          height 100%

    .buttonGroup
      @media (max-width 640px)
        display grid

      .buttonText
        @media (max-width 640px)
          margin-left -15px

  .pricingBrandLogo
    padding 40px 0 50px 0

.virtualPosTablet
  .widgetBgPink
    .container
      @media (max-width 768px)
        padding 60px 0

      @media (max-width 640px)
        padding 0 20px


  .widgetBgBlue
    .container
      @media (max-width 768px)
        padding 60px 0

      @media (max-width 640px)
        padding 0 20px

  .cashPackage
    .offerContent
      .signup-modal__info
        .description
          padding 30px 0
          color #848484

  .forBusiness
    @media (max-width 768px)
      height 100%
      background-size 50% 100%
      display block

    .container
      @media (max-width 768px)
        flex-direction column
        height 100%

      .headerContent
        @media (max-width 768px)
          padding 80px 15px 0 15px
          margin 20px 0

        .businessVirtualPosTitle
          @media (max-width 768px)
            font-size 24px

          h1
            @media (max-width 768px)
              font-size 24px


      .headerImage
        @media (max-width 768px)
          margin 0
          max-width 285px
          display flex
          align-self center

  .video-responsive
    margin-top 80px

    @media (max-width 768px)
      margin-top 20px


.businessVirtualPos
  .newiyziCards
    padding 120px 0

    @media (max-width 768px)
      padding 80px 0

    @media (max-width 767px)
      padding 72px 0


    .iyzi-container
      padding 0

      .title
        @media (max-width 767px)
          font-size 24px
          padding-bottom 24px

      .cardWrap
        @media (max-width 768px)
          flex-direction column

        .cardBox
          @media (max-width 768px)
            padding 0 44px

          @media (max-width 767px)
            padding 0 8px

          img
            @media (max-width 767px)
              width 96px

          p
            @media (max-width 768px)
              padding-top 48px

            @media (max-width 767px)
              padding 24px 0 40px 0


  .iyziRegister
    margin 0

  .iyziLife
    padding 80px 0

    @media (max-width 767px)
      padding 72px 0

    .iyzi-container
      ul
        li
          .itemContent
            .buttonGroup
              .button
                &:first-child
                  margin-right 15px

                  @media (max-width 767px)
                    margin-bottom 15px


  .newWhoIsiyzico
    padding 0
    margin-bottom 120px

    @media (max-width 767px)
      margin-bottom 50px

    .container
      @media (max-width 768px)
        padding 0 98px

      @media (max-width 767px)
        padding 0 16px

      ul
        padding 0

