.businessOnlineProceeds
  .newHeaderComponent
    background-image url('../images/content/online-proceeds-bg.png')

  .iyziLife
    padding 120px 0 80px  0

    @media (max-width 1023px)
      padding 72px 0 48px 0

    @media (max-width 767px)
      padding 56px 0 40px 0

    .iyzi-container
      .title
        display flex
        justify-content center
        flex-direction column

  .sliderTestimonial
    margin-bottom 120px

    @media (max-width 767px)
      margin-bottom 56px

  .newWhoIsiyzico
    padding-bottom 120px

    @media (max-width 767px)
      padding-bottom 72px
