.businessBuyerProtection
  .newHeaderComponent
    background-image url('../images/content/korumal-isim-icin-bg.png')

    .iyzi-container
      .content
        h1
          display block

  .referencessBrands
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px

    .container
      img
        margin 0

  .mB-100
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px


  .sliderTestimonial
    margin-bottom 120px

    @media (max-width 767px)
      margin-bottom 72px

  .iyziRegister
    margin-bottom 0

  .newWhoIsiyzico
    margin-bottom 120px

    @media (max-width 1199px)
      margin-bottom 80px

    @media (max-width 1199px)
      margin-bottom 48px
