.businessFraud
  .newHeaderComponent
    background-image url('../images/content/fraud_bg.png')

  .multipleCards
    margin-bottom 120px

    @media(max-width 767px)
      margin-bottom 56px


  .newiyziCards
    .iyzi-container
      @media(max-width 767px)
        padding 36px 0 0 0

      .cardWrap
        .cardBox
          display flex
          align-items center
          padding 0

  .iyzicoSss
    margin-top 80px

    @media(max-width 767px)
      margin-top 64px

  .iyziLife
    margin-bottom 80px

    @media(max-width 767px)
      margin-bottom 56px

.widget
  .container
    .video-responsive
      overflow hidden
      padding-bottom 56.25%
      position relative
      height 100%
      width 100%
      margin-bottom 100px
      border-radius 16px
      box-shadow 0 10px 25px 0 rgba(0, 0, 0, 0.1)

      @media(max-width 768px)
        margin-bottom 30px

      iframe
        left 0
        top 0
        height 100%
        width 100%
        position absolute




