.fraudProgress
  background-image: url('../images/content/fraud-process-graph-d.png')
  width 100%
  height 350px
  background-repeat no-repeat
  background-size contain
  display flex
  align-items center

  @media (max-width 960px)
    background-image: url('../images/content/fraud-process-graph-m.png')
    width 320px
    height 847px
    background-size contain


.fraudProgressEN
  background-image: url('../images/content/fraud-process-graph-d.png')
  width 100%
  height 350px
  background-repeat no-repeat
  background-size contain

  @media (max-width 960px)
    background-image: url('../images/content/fraud-process-graph-m.png')
    width 320
    height 847px
    background-size contain
