.buyerProtectedBankTransfer
  .newHeaderComponent
    background-image url('../images/content/b2b-bP-hero-bg.png')

  .iyziLife
    padding 120px 0 80px  0

    @media (max-width 1023px)
      padding 72px 0 48px 0

    @media (max-width 767px)
      padding 56px 0 40px 0

    .iyzi-container
      .title
        display flex
        justify-content center
        flex-direction column

  .iyziRegister
    margin 0

    .container
      h2
        padding-bottom 24px

      .desc
        color $gray-200
        padding-bottom 80px
        font-size 24px
        line-height normal
        max-width 770px

  .newiyziCards
    .iyzi-container
      padding 0

      .cardWrap
        @media (max-width 767px)
          flex-direction column

  .iyzicoSss
    padding-top 120px

    @media (max-width 767px)
      padding-top 56px
