.careerContent

  .container
    display flex
    align-items center
    justify-content center

    ul
      display flex
      list-style none
      padding 55px 0
      margin 0
      flex-wrap wrap

      @media (max-width 640px)
        flex-direction column

      li
        display flex
        flex-direction column
        width 100%
        max-width 570px
        margin 15px
        padding 60px
        background-color #fff
        box-shadow 0 10px 25px 0 rgba(0, 0, 0, 0.1)
        height auto
        background-image: url('../images/content/career-box-bg.svg')
        background-repeat no-repeat
        background-size 70px 210px
        background-position left top
        border-radius 10px

        @media (max-width 1024px)
          max-width 450px

        @media (max-width 768px)
          max-width 330px

        @media (max-width 640px)
          padding 30px

        .title
          font-size 24px
          line-height 29px
          font-weight bold
          padding-bottom 5px

          @media (max-width 640px)
            font-size 16px

          a
            color $clear-blue
            text-decoration none

            &:focus
              color $clear-blue
              text-decoration none

            &:visit
              color $clear-blue
              text-decoration none

            &:hover
              color $clear-blue
              text-decoration none

        .description
          font-size 18px
          line-height 1.67
          color #848484
          padding-bottom 40px

          @media (max-width 640px)
            font-size 12px
            padding-bottom 20px

        .subGroup
          display flex
          justify-content space-between
          align-items center
          margin-top auto

.shadow
  background-color #ffffff
  box-shadow 0 10px 25px 0 rgba(0,0,0,.1) !important

  .content
    padding 16px 32px 40px 32px !important

    h4
      text-align center

    p
      text-align center
      font-size 16px !important



.openPosition
  h4
    font-size 48px
    line-height 1.4
    color #ffffff
    display flex
    flex-direction column
    font-weight normal

    @media(max-width 767px)
      font-size 28px
      line-height normal

  p
    font-size 24px
    color #ffffff
    line-height normal
    padding-top 24px

    @media(max-width 767px)
      font-size 16px
      line-height 1.56
      padding-top 8px

  .light-peach
    color #fdc7bb

  .baby-blue
    color #a1c9ff

  .default
    background-color #ffffff
    color $orange-pink
    width 100%
    max-width 270px
    display flex
    justify-content center
    margin-top 56px

    @media(max-width 767px)
      margin-top 48px
      max-width none

.careerLP
  .iyziLife
    .iyzi-container
      @media(max-width 767px)
        padding 0 16px

      ul
        li
          justify-content space-between
          padding 80px 0

          @media(max-width 960px)
            padding 56px 0

          .itemContent
            max-width 525px
            padding 0

            @media(max-width 1023px)
              max-width 100%

            h3
              @media(max-width 1023px)
                font-size 48px
                text-align left

              @media(max-width 960px)
                margin-top 0

              @media(max-width 767px)
                font-size 24px

            p
              padding-top 16px

              @media(max-width 1023px)
                padding 16px 0 56px 0

              @media(max-width 767px)
                padding 8px 0 48px 0

              a
                color $clear-blue
                text-decoration underline
                font-weight 500

              br
                @media(max-width 1023px)
                  display none

          .itemimg
            padding 0
            display flex
            justify-content center

            img
              max-width 570px

  .newAdress
    margin-top 72px

    @media(max-width 960px)
      margin-top 56px

    @media(max-width 767px)
      margin-top 48px

  .careerAboutUs
    margin-top 80px

    @media(max-width 960px)
      margin-top 56px

    @media(max-width 767px)
      margin-top 48px

.iyzicoLife
  @media(max-width 960px)
    display none

  .iyzi-container
    padding 0 15px

    .content
      h3
        font-size 48px
        font-weight bold
        line-height 1.4
        color $gray-900

      p
        font-size 24px
        font-weight normal
        line-height normal
        padding 16px 0 32px 0

      .imgMassonary
        display flex
        flex-wrap wrap
        padding 0 12px
        justify-content center

        img
          margin 8px

.careerSlider
  display none
  padding 0 0 0 16px

  @media(max-width 960px)
    display block

  h3
    font-size 48px
    line-height 1.42
    color $gray-900
    font-weight bold

    @media(max-width 767px)
      font-size 28px

  p
    font-size 24px
    padding-top 16px
    margin-bottom 40px

    @media(max-width 767px)
      font-size 16px
      padding-top 8px
      margin-bottom 32px

  .sliderContainer
    .slick-dots
      margin-top 24px
      max-height 12px

    .campaignSliderBox
      margin 0 8px

      .campaignSliderImgBox
        img
          max-width 100%


