.modal-dialog
  max-width 970px

.modal-body
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  padding 60px 30px

  .mL-auto
    margin-left auto
    margin-top -30px

  .title
    font-size 48px
    line-height normal
    color #202020
    font-weight bold
    padding 40px 0

    @media (max-width 768px)
      font-size 38px

    @media (max-width 640px)
      font-size 24px
      padding 20px 0

  .description
    font-size 18px
    line-height 1.67
    color #848484
    padding-bottom 60px

    @media (max-width 768px)
      font-size 14px

    @media (max-width 640px)
      font-size 12px
      padding 10px 0
