.contactUs
  height auto
  background-image: url('../images/content/sub-page-bg.svg')
  background-repeat no-repeat
  background-size 100% 798px
  background-position top

  .container
    display flex
    justify-content center
    flex-direction column

    .headerContent
      display flex
      padding-top 215px
      flex-direction column
      justify-content center
      align-items center

      @media (max-width 768px)
        padding-top 115px

      i
        margin-bottom 40px

      .title
        font-size 48px
        line-height normal
        font-weight 300
        text-align center
        padding 0 0 30px 0

        @media (max-width 768px)
          font-size 38px

        @media (max-width 640px)
          font-size 24px

        b
          font-weight bold
          display block

      p
        text-align center
        font-size 18px
        line-height 1.67
        color #848484
        padding 0 0 30px 0

        @media (max-width 768px)
          font-size 14px
          line-height 1.71
          padding-bottom 30px

        @media (max-width 640px)
          font-size 12px

      .buttonGroup
        margin 0 0 100px 0

        a
          margin 0 15px

  .nav-tabs
    width 100%
    display flex
    justify-content center

    li
      font-size 24px

      a
        color #848484
        background-color transparent
        border none

        &:focus
          color #848484
          background-color transparent
          border none

        &:hover
          color #848484
          background-color transparent
          border none


    .active
      a
        border none
        font-size 24px
        font-weight bold
        color #202020
        background-color transparent

        &:hover
          opacity 1
          background-color transparent
          color #202020
          border none

        &:focus
          opacity 1
          background-color transparent
          color #202020
          border none
