.contactUsForms
  padding 20px 0 120px 0
  max-width 770px
  margin 0px auto
  display flex
  flex-direction column
  align-items flex-end

  @media (max-width 1023px)
    padding 20px 48px 80px 48px

  @media (max-width 767px)
    padding 20px 20px 72px 20px

  .title
    width 100%
    font-size 40px
    color $gray-900
    font-weight bold
    line-height normal
    text-align center
    padding-bottom 44px

    @media(max-width 767px)
      font-size 24px
      padding 36px 0 6px 0

  .button
    min-width 230px
    display flex
    justify-content center
    margin-top 20px

    @media(max-width 1023px)
      width 100%
      margin-top 12px

  .formWrap
    display flex
    flex-direction column
    font-size 18px
    line-height 22px
    font-weight bold
    letter-spacing 2.6px
    color #202020
    padding 12px 0
    width 100%

    @media (max-width 640px)
      font-size 16px
      line-height 19px

    input
      height 64px
      border-radius 8px
      border 1px solid #ced4da
      outline 0
      padding 20px 16px
      font-size 16px
      line-height 24px
      color #495057
      font-weight 500

      &::placeholder
        color #495057
        font-size 16px
        line-height 24px
        font-weight 500

      &.error
        border 1px solid red

    textarea
      border 1px solid #ced4da
      height 52px
      border-radius 8px
      outline 0
      padding 12px
      font-size 16px
      font-weight 500
      min-height 270px

      &::placeholder
        color #495057

      &.error
        border 1px solid red
