.cookie-notification
    position fixed
    width 350px
    z-index 20
    bottom 16px
    right 16px

    @media(max-width 767px)
      right auto
      padding 0 16px
      width 100%

.notification-wrapper
    display none
    justify-content space-between
    align-items center
    padding 16px 32px 16px 24px
    min-height 80px
    box-shadow 0 8px 16px 0 rgba(0, 0, 0, 0.24)
    border-radius 16px
    transition all .5s ease 0s
    background-color #ffffff
    border-bottom 1px solid #cecfcf

    @media(max-width 767px)
      padding 14px 20px

  .close-button
    margin -4px -20px 0 8px
    display flex
    align-self flex-start
    @media(max-width 767px)
      margin 2px -8px 0 8px

.cookie-text
    width auto
    font-size 12px
    line-height normal
    color $gray-600
    text-align left

.button-clean-close
    width 12px
    height 12px
    line-height 12px
    padding 0
    display flex

.iyzipos-header-holder
  transition all .5s ease 0s

.header
  & .navbar-fixed-top
    transition all .5s ease 0s

.head
  &_main-landing-page-head
    transition all .5s ease 0s

  &_main-landing-page-head-without-filter
    transition all .5s ease 0s

.top-notification
  transition all .5s ease 0s
  top 0

.sub-site-page
  position relative
  transition all .5s ease 0s
  top 0


.withCookieNotification
  & .sub-site-page
    top 80px
    @media(max-width 480px)
      top 148px

  & .top-notification
    top -85px
    @media(max-width 768px)
      top -140px
  & .international-page-nav
    margin-top 0
    top 80px

  & .iyzipos-header-holder
    top 80px
  & .header
    & .navbar-fixed-top
      top 80px
      @media(max-width 480px)
        top 148px
  & .head
    &_main-landing-page-head
      top 80px
      height calc(100vh - 194px)
      @media(max-width 480px)
        top 148px
        height calc(100vh - 272px)

    &_main-landing-page-head-without-filter
      top 80px
      height: calc(100vh - 194px)
      z-index 0
      @media(max-width 480px)
        top 148px
        height calc(100vh - 272px)
  & .header__parallax
      @media(max-width 360px)
        height calc(100vh - 100px)

  &.buyer-protection
    & .header__transparent
      @media(max-width 480px)
        height 620px

  &.iyzilink
    & .header__transparent
      @media(max-width 768px)
        margin-top 50px
        height 830px

  & .head_buyer-protection-landing-page-head
      top 60px
      @media(max-width 480px)
        height 720px
        top 0px

.international-page
  & .head
    & .iyzi-container
      @media(max-width 768px)
        margin 0 auto;





.withCookieNotification
  .notification-wrapper
    display flex
