.cultureContent
  margin-bottom 100px

  @media (max-width 768px)
    margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 80px

  .container
    display flex
    align-items center
    justify-content center
    flex-direction column
    padding 60px 0 30px 0

    @media (max-width 640px)
      padding 20px 0

    .title
      font-size 48px
      color #202020
      font-weight 300
      display flex
      flex-direction column
      align-items center
      line-height 58px

      @media (max-width 640px)
        font-size 24px
        line-height 29px

      b
        font-weight bold

    p
      font-size 18px
      line-height 1.67
      max-width 970px
      color #848484
      text-align center
      padding 30px 0

      @media (max-width 640px)
        font-size 12px
        padding 20px 0

    ul
      display flex
      list-style none
      flex-direction row
      padding 0
      margin 0
      width 100%
      justify-content center

      @media (max-width 640px)
        flex-direction column

      li
        padding 30px 15px
        font-size 18px
        color #848484
        line-height 1.67

        @media (max-width 640px)
          padding 15px 20px
          font-size 12px

    .whoWeAreQuote
      display flex
      justify-content center
      flex-direction column
      align-items center
      text-align center
      padding 40px 0
      color #202020

      @media (max-width 640px)
        padding 35px 0

      i
        margin-bottom 34px

        @media (max-width 640px)
          margin-bottom 17px

      p
        font-size 22px
        line-height 1.27
        font-weight 500
        max-width 770px
        padding-bottom 16px

        @media (max-width 640px)
          font-size 14px
          padding-bottom 20px

      span
        font-size 16px
        font-weight 300

.newWhoWeAreContent
  .culture-photos
    max-width 770px
    margin 64px 0

    @media (max-width 767px)
      margin 32px 0

    .culture-photos__item
      width 270px !important
      height 270px !important
      margin-right 16px

    .culture-photos__large
      width 270px !important
      height 270px !important

      img
        border-radius 8px


  .events
    padding-top 56px !important

    @media (max-width 767px)
      padding-top 10px !important

    .container
      display flex
      align-items flex-start

      p
        text-align left !important

        @media (max-width 767px)
          padding 0 8px !important

      .title
        padding-bottom 8px !important

        @media (max-width 767px)
          padding 0 8px !important

      ul
        flex-direction column !important
        padding 0 !important

        li
          max-width none
          padding 0 !important

          iframe
            height 430px
            border-radius 8px
            margin 0
            margin-top 40px

            @media (max-width 767px)
              height 162px
              margin-top 24px
              padding 8px
              border-radius 16px


  li
    .openPosition
      margin 50px 0 20px 0
      padding 96px 100px
      border-radius 8px

      @media (max-width 767px)
        margin 72px -15px 48px -15px
        padding 56px 24px

      .titleAndIcon
        display flex

        @media (max-width 767px)
          zoom 0.6

        h4
          padding 0 0 0 30px

          @media (max-width 767px)
            padding 0 0 0 16px


      p
        color #f8f9fa !important

    .clear-blue-bg
      margin 0 0 120px 0 !important

      @media (max-width 767px)
        margin 72px -15px 72px -15px !important

      .default
        color $clear-blue




.culture
  .generalConditionsContent
    .container
      margin-bottom 0 !important

      .content
        ul
          li
            margin-bottom 0 !important
