.culture
  .otherJobsCareerContent
    padding 0
    margin 100px 0

    @media (max-width 768px)
      margin 80px 0

    @media (max-width 640px)
      margin 50px 0

    .otherJobsHeader
      .title
        line-height normal

      .description
        padding 20px 0 40px 0

        @media (max-width 640px)
          padding 20px


    .container
      margin-top -60px

      .title
        color $clear-blue
        padding-bottom 30px

  .generalConditionsContent
    .container
      @media(max-width 1023px)
        padding 0 48px
