.dropdownMenu
  display block
  margin 0
  border-radius 10px

  .dropdown
    z-index 20
    border-radius 10px
    background-color #fff
    border none

    &:active
      outline none !important

    &:focus
      outline none !important

    &:hover
      outline none !important

    .btn-secondary
      width 100%
      display flex
      justify-content space-between
      align-items center
      color $gray-900
      font-size 16px
      font-weight 500
      background-color #fff
      padding 21px 16px
      border 1px solid #ced4da
      outline none
      border-radius none
      flex-direction row-reverse

      &:active
        outline none !important
        box-shadow none

      &:focus
        outline none !important
        box-shadow none

      &:hover
        outline none !important
        box-shadow none
    .btn-secondary
      border-radius 10px

    .dropdown-menu
      border 1px solid #ced4da
      border-top none
      border-radius 0 0 10px 10px
      width 100%
      padding 0 25px
      box-shadow none
      border-radius 0 0 10px 10px
      margin 0

      .title
        a
          color #202020
          letter-spacing 2.6px
          font-size 18px
          background-color #fff
          padding 15px
          border none
          outline 0
          text-decoration none
      ul
        list-style none

        li
          padding 10px 0
          a
            color #202020
            font-size 14px
            line-height normal


  &.error
    border 1px solid red
  .open
    .btn-secondary
      border 1px solid #ced4da
      border-bottom none
      border-radius 10px 10px 0 0



