.dynamic3dsProgress
  background-image: url('../images/content/dynamic-3ds-process-graph.png')
  width 100%
  height 604px
  background-repeat no-repeat
  background-size contain
  display flex
  align-items center

  @media (max-width 960px)
    background-image: url('../images/content/dynamic-3ds-process-graph-768.png')
    width 320px
    height 1432px
    background-size contain


.dynamic3dsProgressEN
  background-image: url('../images/content/dynamic-3ds-process-graph.png')
  width 100%
  height 604px
  background-repeat no-repeat
  background-size contain
  display flex
  align-items center

  @media (max-width 960px)
    background-image: url('../images/content/dynamic-3ds-process-graph-768.png')
    width 320px
    height 1432px
    background-size contain


.dynamic3ds
  .widgetBgBlue
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 50px

    @media (max-width 640px)
      margin-bottom 30px
