.dynamic3ds
  .widget
    margin-top 120px

  .newiyziCards
    .iyzi-container
      .cardWrap
        .cardBox
          @media(max-width 960px)
            display flex
            align-items center

  .newWhoIsiyzico
    padding-bottom 120px
    margin-top 80px

    @media(max-width 767px)
      padding-bottom 56px
      margin-top 56px
