.failLandingPage
  .contactHero
    .iyzi-container
      .newHeaderComponent
        .content
          @media(max-width 1023px)
            display flex
            justify-content center
            align-items center

          @media(max-width 767px)
            margin-bottom 72px

          h1
            @media(max-width 1023px)
              text-align center

          .buttonGroup
            margin 32px 0 0 0
