.femaleEntrepreneur
  text-decoration none

  .base-main
    padding-top 82px

    @media(max-width 767px)
      padding-top 50px

  .referencessBrands
    .iyzi-container
      @media(max-width 767px)
        padding 36px 32px

      img
        margin 0 14px
        max-height 40px

        @media(max-width 767px)
          margin 12px 14px
          max-height 32px
          width auto

  .newiyziCards
    .iyzi-container
      .cardWrap
        .cardBox
          p
            a
              text-decoration underline
              padding-top 16px
              font-weight 500
              display flex

  .femaleSupport
    padding-bottom 40px

    .iyzi-container
      max-width 770px

      .content
        text-align center

        h2
          font-size 40px
          font-weight 700
          margin 80px 0 24px 0

          @media(max-width 767px)
            margin-top 16px
            font-size 28px
            text-align left

        p
          @media(max-width 767px)
            text-align left

          &.heroDesc
            margin-top 24px

            @media(max-width 767px)
              margin-top 16px

  .femaleContact
    padding 80px 0 120px 0

    @media(max-width 767px)
      padding 40px 0 56px 0

    .iyzi-container
      .content
        p
          text-align center

  .newHeaderComponent
    background-image: url('../images/content/female-entrepreneur-hero-bg.png')

    .iyzi-container
      .imgResp
        max-height 586px

      .content
        @media(max-width 767px)
          padding 16px 8px 40px 8px

        h1
          padding-bottom 8px

          strong
            color #d2d0e2
            line-height 1.38

            @media(max-width 960px)
              color $gray-900

            @media(max-width 767px)
              font-size 33px


          span
            color #ffffff
            font-size 58px
            line-height 1.38

            @media(max-width 960px)
              color $gray-900

            @media(max-width 767px)
              font-size 33px

        p
          color #ffffff
          padding 8px 0

          @media(max-width 960px)
            color $gray-900

          @media(max-width 767px)
            font-size 16px
            line-height 25px

        span
          color #ffffff
          font-size 16px
          line-height 1.56
          padding-top 8px

          @media(max-width 960px)
            color $gray-900

          @media(max-width 767px)
            font-size 14px

        .primary
          background-color #ffffff
          color $dark-indigo
          width 100%
          max-width 270px
          justify-content center
          text-decoration none
          margin 20px 0 8px 0

          @media(max-width 960px)
            background-color $dark-indigo
            color #ffffff

          @media(max-width 767px)
            max-width none
            margin 24px 0 16px 0

        a
          font-size 16px
          line-height 1.56
          color #ffffff
          text-decoration underline

          @media(max-width 767px)
            font-size 14px
            color #495057
            text-align center
            font-weight bold


  .multipleCards
    .iyzi-container
      .header
        justify-content center

        .title
          max-width 770px

          h2
            text-align center
            font-size 40px
            line-height normal

            @media(max-width 767px)
              padding 0 0 8px 0
              font-size 28px

      .cardWrap
        @media(max-width 767px)
          flex-direction column
          padding-bottom 40px

        .cardBox
          h3
            flex-direction row
            display block
            padding-top 40px

            @media(max-width 767px)
              padding-top 24px

          p
            @media(max-width 767px)
              padding-top 8px

          img
            @media(max-width 767px)
              width 96px !important

  .iyziLife
    .iyzi-container
      ul
        li
          @media(max-width 767px)
            padding 20px 0

          .itemContent
            img
              @media(max-width 767px)
                max-height 56px
                margin 24px 0 16px 0

            .buttonGroup
              .basic
                color $clear-blue



  .iyziLifeCenter
    margin 160px 0 120px 0

    @media(max-width 767px)
      margin 52px 0

    .iyzi-container
      h2
        display flex
        flex-direction column
        padding-bottom 40px
        font-size 40px
        font-weight 700
        line-height normal
        text-align center

        @media(max-width 767px)
          font-size 28px
          padding-bottom 20px

      ul
        li
          .itemContent
            h3
              font-size 34px
              line-height normal

              @media(max-width 767px)
                font-size 24px


  .iyziRegister
    margin 0

    .container
      h2
        display inline-block
        padding-bottom 16px

      p
        color #fee3dd
        margin-bottom 40px

        strong
          color #ffffff

      .primary
        color #fa7355

  .iyzicoSss
    margin-top 160px

    @media(max-width 767px)
      margin-top 56px

  .iyziLifeEnd
    position relative

    #femaleGeneralinfo
      position absolute
      height 1px
      width 1px
      top -30px
      left 0

    .iyzi-container
      max-width 1030px

      h2
        margin-bottom 24px
        text-align center
        font-weight 700

      ul
        li
          padding 0

          @media(max-width 767px)
            margin-top 40px

          .itemContent
            h3
              color $clear-blue

              @media(max-width 767px)
                padding 0

            p
              padding-top 16px

  .iyziRegister
    .container
      h2
        span
          font-weight bold
      p
        span
          font-size 16px
          font-weight normal
          line-height 1.56
          color #e9ecef

          a
            text-decoration underline
            color #e9ecef

            &:hover
              color #e9ecef

            &:focus
              color #e9ecef

  .headerNotifications
      display none
