.forBusiness
  height 766px
  background-image: url('../images/content/bg-mask.svg?v=v4.0.28')
  background-repeat no-repeat
  background-size 50% 768px
  background-position right

  @media (max-width 768px)
    height 655px
    background-size 50% 655px

  @media (max-width 640px)
    height 100%
    background-size 50% 100%
    display block

  .container
    height 766px
    display flex

    @media (max-width 768px)
      height 655px

    @media (max-width 640px)
      height 100%
      flex-direction column
      display block

    .headerContent
      display flex
      flex 1
      justify-content center
      flex-direction column
      padding-top 162px

      @media (max-width 768px)
        padding 84px 15px 0 15px
        height 100%
        display block
        margin-top 100px

        @media (max-width 640px)
          margin-top 0

      .businessNewBadge
        display flex
        flex-direction row
        font-size 16px
        margin-bottom 15px
        align-items baseline

        @media (max-width 640px)
          font-size 14px

        span
          font-size 14px
          display block
          padding 5px 10px
          margin 0
          text-align center
          min-width 40px

      strong
        display flex


      p
        padding 30px 0 60px 0

        @media (max-width 768px)
          padding 20px 0 60px 0

        @media (max-width 640px)
          padding 15px 0 30px 0
          font-size 12px

      span
        font-size 14px
        display block
        padding 5px 0

    .headerImage
      display flex
      flex 1
      align-items flex-end
      justify-content flex-start

      @media (max-width 640px)
        justify-content center
        height 100%

      img
        width 100%
        max-width 570px

        @media (max-width 640px)
          margin 0
          max-width 285px

  .buttonGroup
    margin 0px

    @media (max-width 768px)
      flex-direction column
