.gKD
  .newHeaderComponent
    background-image: url('../images/content/guzel-kelimeler-dukkani-hero-img.png')

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 64px 48px 0 48px !important

        @media(max-width 767px)
          padding 16px !important

        h1
          min-width max-content

          @media(max-width 768px)
            min-width auto
        p
          max-width 580px
