html, body
  position relative
  height 100%

body
  color #333

.base-header
  width 100%

header
  z-index 1
  position absolute

main
  padding-top 142px

  @media (max-width 1022px)
    padding-top 164px

  @media (max-width 834px)
    padding-top 184px

  @media (max-width 767px)
    padding-top 200px

  @media (max-width 712px)
    padding-top 222px

  @media (max-width 468px)
    padding-top 243px

  @media (max-width 358px)
    padding-top 264px
