html, body
  position relative
  height 100%

body
  color #333

.base-header
  width 100%

header
  z-index 1
  position absolute

main
  padding-top 146px

  @media (max-width 767px)
    padding-top 114px
