.headerNotifications
  background-color #d2d0e2

  .iyzi-container
    .content
      display flex
      justify-content center
      width 100%

      p
        font-size 18px
        color #1e146e
        line-height 24px
        padding 8px 0 10px 0
        text-align center

        @media(max-width 767px)
          font-size 14px
          letter-spacing 0.3px

        a
          font-size 14px
          line-height 20px
          letter-spacing 0.4px
          color #1e146e
          text-decoration underline
          display block
          padding-top 2px

          @media(max-width 767px)
            font-size 12px
            line-height 20px
            letter-spacing 0.3px
