.headerNotifications
  background-color $gray-900

  .iyzi-container
    .content
      display flex
      justify-content center
      width 100%
      align-items center

      @media(max-width 767px)
        flex-direction column
        padding-bottom 16px

      p
        font-size 14px
        color #ffffff
        line-height 21px
        padding 8px 0 10px 0
        text-align center

        @media(max-width 767px)
          font-size 14px
          letter-spacing 0.3px

      a
        font-size 16px
        line-height 16px
        letter-spacing normal
        color $gray-900
        display flex
        justify-content center
        align-items center
        padding 0
        min-width 180px
        height 40px
        background-color #ffffff

        @media(max-width 767px)
          font-size 12px
          line-height 20px
          letter-spacing 0.3px
          min-width 160px
          height 36px

      img
        @media(max-width 767px)
          width 150px

