body
  background-color #fff !important

h1
  font-size 48px
  line-height normal
  font-weight 300
  letters-pacing normal
  color $gray-900

  @media (max-width 768px)
    font-size 38px

  @media (max-width 640px)
    font-size 24px

  strong
    font-weight bold

h2
  font-size 42px
  line-height normal
  font-weight 500
  letter-spacing normal
  color $gray-900

  @media (max-width 960px)
    font-size 38px

  @media (max-width 640px)
    font-size 24px

  strong
    font-weight bold

p
  font-size 18px
  line-height 30px
  color #848484
  font-weight normal

  @media (max-width 768px)
    font-size 14px
    line-height 27px

  @media (max-width 640px)
    font-size 12px
    line-height 20px

h3
  font-size 24px
  font-weight bold
  color #202020
  line-height 29px
  letter-spacing normal

  @media (max-width 768px)
    font-size 18px

  @media (max-width 640px)
    font-size 16px

.description
  font-size 14px
  line-height 1.71

  @media (max-width 640px)
    font-size 12px
    line-height 1.67

.widgetTitle
  font-size 24px
  line-height normal
  font-weight bold
  color $clear-blue

  @media (max-width 768px)
    font-size 18px

  @media (max-width 768px)
    font-size 14px

.widgetSubTitle
  font-size 42px
  font-weight 500
  line-height normal
  color #202020

  @media (max-width 768px)
    font-size 38px

  @media (max-width 640px)
    font-size 20px

.clear-blue
  color #1e64ff !important

.pale-blue
  color #d0e4ff !important

.orange-pink
  color #fa7355 !important

.orange-300
  color #ff6949 !important

.macaroni-and-cheese
  color #ffc733 !important

.greyish-teal
  color #5eada9 !important

.dodger-blue
  color #4393ff !important

.yellow-orange
  color $yellow-orange !important

.green-700
  color #51cf66 !important

.green-800
  color $green-800 !important

.very-light-pink
  color #fee3dd !important

.gray-100
  color #ffffff !important

.gray-200
  color #f8f9fa !important

.blueberry
  color #4b438b !important

.red-800
  color $red-800

.green-300
  color #00b63c !important

.dark-indigo
  color $dark-indigo

.tiffany-blue
  color $tiffany-blue

.macaroni-and-cheese
  color $macaroni-and-cheese

.orange-300
  color $orange-300

.gray-900
  color #212529 !important

.clear-blue-bg
  background-color #1e64ff !important

.dark-indigo-bg
  background-color #1e146e !important

.dark-indigo-two-bg
  background-color #170f53 !important

.pale-blue-bg
  background-color #d0e4ff !important

.orange-pink-bg
  background-color #fa7355 !important

.greyish-teal-bg
  background-color #5eada9 !important

.dodger-blue-bg
  background-color #4393ff !important

.yellow-orange-bg
  background-color #ffb900 !important

.green-700-bg
  background-color #51cf66 !important

.gray-100-bg
  background-color #ffffff !important

.gray-200-bg
  background-color #f8f9fa !important
