.iyzico-app
  .featureCards
    padding 20px 0

    @media (max-width 960px)
      padding 20px 0

    @media (max-width 640px)
      padding 15px 0 5px 0

  .pinkWave
    margin-bottom 100px

    @media (max-width 960px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px

  .blueWave
    margin-bottom 100px

    @media (max-width 960px)
      margin-bottom 80px

    @media (max-width 640px)
      margin-bottom 50px

  .whoIsiyzico
    margin 100px 0

    @media (max-width 960px)
      margin 80px 0

    @media (max-width 640px)
      margin 50px 0

  .referencessBrands
    margin-bottom 50px

    @media (max-width 960px)
      margin-bottom 30px

    @media (max-width 640px)
      margin-bottom 10px


    .container
      img
        margin 0 12px

        @media (max-width 640px)
          margin 0

        &:first-child
          margin-left 0

        &:last-child
          margin-right 0

  .iyziLife
    .iyzi-container
      .title
        @media(max-width 767px)
          font-size 24px
          line-height normal

  .partTwo
    .iyzi-container
      @media(max-width 767px)

        ul
          li
            flex-direction column-reverse

            &:nth-child(even)
              flex-direction column

