.flex-grow-1
  flex-grow 1

.tAlign-left
  text-align left

.tAlign-right
  text-align right

.w-570
  width 570px

.w-630
  width 630px

.mT--50
  margin-top -50px

.mT-100
  margin-top 100px !important

.mT--105
  margin-top -105px

.mT--130
  margin-top -130px

.mT-5
  margin-top 5px

.mT-17
  margin-top 17px

.mT-40
  margin-top 40px

.mR-15
  margin-right 15px

.mR--30
  margin-right -30px

.mB-20
  margin-bottom 20px

.mB-32
  margin-bottom 32px

.mB-200
  margin-bottom 200px !important

.mL--300
  margin-left -300px

.pT-10
  padding-top 10px

.pT-20
  padding-top 20px

.pT-40
  padding-top 40px

.pL-5
  padding-left 5px

.pL-15
  padding-left 15px

.pL-50
  padding-left 50px

.p16
  padding 0 0 32px 0

  @media (max-width 768px)
    padding 16px 0


.newBadge
  top 10px
  margin-left 16px
  color #4b438b
  background-color #d2d0e2
  border-radius 6px
  font-size 10px
  align-items center
  letter-spacing 0.8px
  line-height normal
  padding 6px
  height 24px
  font-weight 600

  @media (max-width 768px)
    top 13px
