.iyziRegister
  display flex
  padding 120px 0
  margin 120px 0

  @media(max-width 1023px)
    margin 80px 0

  @media(max-width 767px)
    padding 72px 0
    margin 40px 0

  .container
    max-width 970px

    @media(max-width 1023px)
      max-width 100%
      padding 0 48px

    @media(max-width 767px)
      padding 0 16px

    h2
      font-size 48px
      line-height 1.4
      margin 0px auto
      padding-bottom 56px
      font-weight normal
      display flex
      flex-direction column

      @media(max-width 1023px)
        font-size 40px
        line-height normal

      @media(max-width 767px)
        font-size 28px
        padding-bottom 32px

    .signup-modal__form
      padding 0

      .input-form
        box-shadow none
        border-radius 8px
        border-color $gray-400
        max-width 370px
        margin-bottom 80px

      .buttonGroup
        margin 0

    .button
      color $orange-pink
      display flex
      justify-content center
      width 270px

      @media(max-width 767px)
        width 288px
        margin 0px auto

    .primary
      background-color #ffffff
      color $clear-blue

    .downloadBtn
      display flex

      @media(max-width 767px)
        flex-direction column
        align-items center

      a
        display flex

        @media(max-width 767px)
          margin 8px

