.iyziCards

  &__headerTitle
    font-size 24px
    line-height normal
    font-weight bold
    color $clear-blue

    @media (max-width 768px)
      font-size 18px

    @media (max-width 768px)
      font-size 14px

  .container
    display flex
    align-items center
    flex-direction column

    h2
      text-align center

    ul
      list-style none
      padding 40px 0 0 0
      margin 0
      display flex
      width 100%
      justify-content center

      @media (max-width 768px)
        flex-direction column
        align-items center

      li
        display flex
        flex 1
        flex-direction column
        align-items center
        text-align center
        padding 0 15px
        max-width 470px

        h3
          padding 40px 0 30px 0
