.iyzi-modal
  background-color $white
  padding 72px 32px 32px 32px

  @media(max-width 767px)
    padding 40px 16px 8px 16px

  .iyzi-modal-wrapper
    display flex

    @media(max-width 767px)
      flex-direction column

    .offerContent
      width 100%
      padding 0 50px 0 0

      @media(max-width 767px)
        padding 0 0 16px 0

      .signup-modal__info
        h2
          font-size 28px
          padding 0 0 16px 0

          @media(max-width 767px)
            font-size 24px
            padding 0 0 8px 0
            text-align center

        p
          font-size 16px

          @media(max-width 767px)
            line-height 1.56
            text-align center

    .offerForm
      width 100%

      .signup-modal__form
        padding 0

        form
          .row
            margin 0 0 24px 0

            @media(max-width 767px)
              margin 0 0 8px 0

            label
              display none !important

            input
              border 1px solid $gray-400
              color $gray-700
              font-weight 500

              &::placeholder
                color $gray-700

              &.error
                border solid 1px #d33800 !important
                background-color #ffe3e3 !important

          button
            width 100%
            justify-content center

            @media(max-width 767px)
              margin-top 16px
