.kgySupport

  .newHeaderComponent
    background-color #ffffff
    background-image none

    .iyzi-container
      max-width 1170px
      height 574px

      @media(max-width 1170px)
        height 624px

      @media(max-width 1024px)
        height 100%

      .content
        justify-content flex-end

        p
          padding 16px 0 8px 0

    .imgResp
      align-items center
      margin-top 10px


  .iyzicoSss
    .sssWrap
      @media(max-width 767px)
        margin-top 0

      ul
        .menuOpen
          .description
            padding 32px 0 0 0 !important

            @media(max-width 767px)
              padding 42px 0 0 0 !important

        li
          .description
            text-align left

            a
              padding 0
              display inline-flex
              flex-wrap wrap
              justify-content center
              height 160px
              background-color $gray-200
              align-items center
              overflow hidden

              @media(max-width 1264px)
                width 328px
                margin 8px

              @media(max-width 767px)
                width 304px

  .iyziRegister
    margin 0 0 120px 0

    .container
      .desc
        padding-bottom 40px

      .downloadBtn
        .basic
          background-color #ffffff
          color #170f53

          &:hover
            color #170f53
