.massPayOut
  .newHeaderComponent
    background-image url('../images/content/masspayout-bg.png')

    .iyzi-container
      .content
        h1
          display block



  .newiyziCards
    margin-top 120px

    @media (max-width 767px)
      margin-top 56px

    .iyzi-container
      padding 0

      .cardWrap
        @media (max-width 960px)
          flex-direction column

        .cardBox
          h3
            @media (max-width 960px)
              padding 24px 0

          p
            @media (max-width 960px)
              padding 0 0 56px 0

  .iyzicoSss
    padding-top 120px

    @media (max-width 767px)
      padding-top 56px

  .iyziRegister
    .container
      .form
        .offerForm
          .signup-modal__form
            .inputWrap
              .input-form
                @media (max-width 960px)
                  margin-bottom 72px

                @media (max-width 767px)
                  max-width 100%
                  margin-bottom 32px

            .buttonGroup
              @media (max-width 767px)
                width 100%

  .sliderScreen
    margin-bottom 120px

    @media (max-width 767px)
      margin-bottom 72px
