.merchantType
  display flex
  padding-top 110px

  @media (max-width 767px)
    padding-top 50px

  .iyzi-container
    flex-direction column
    align-items center

    .title
      font-size 58px
      line-height 80px
      font-weight bold
      color $gray-900
      padding-bottom 32px
      text-align center

      @media (max-width 767px)
        font-size 34px
        line-height normal
        padding 24px 8px 16px 8px

    .haveAccount
      display flex
      flex-direction column
      align-items center
      padding-top 32px
      margin-bottom 48px

      @media (max-width 767px)
        padding-top 16px
        width 100%

      span
        font-size 24px
        color $gray-800
        font-weight 500
        padding-bottom 16px

      .buttonGroup
        margin 0

        @media (max-width 767px)
          padding 0 16px
          width 100%

        .basic
          padding 15px 24px

          @media (max-width 767px)
            width 100%

          i
            margin-right 16px

    .sectionBox
      display flex
      max-width 1000px
      width 100%

      @media (max-width 768px)
        padding 0 16px

      @media (max-width 767px)
        flex-direction column
        padding 0
      a
        display flex
        flex-wrap wrap
        flex 1
        margin 0 15px
        padding 32px 56px 40px 56px
        background-color #f8f9fa
        border-radius 16px
        align-content flex-start

        @media (max-width 768px)
          padding 32px 24px 32px 21px
          margin 0 8px

        @media (max-width 767px)
          flex-direction column
          padding 32px 24px
          margin 0 8px 24px 8px

        .mBox-title
          font-size 40px
          font-weight bold
          color $gray-900
          line-height 51px

          @media (max-width 768px)
            padding-left 24px

          @media (max-width 767px)
            font-size 24px
            line-height normal
            padding-left 8px


        span
          margin-top auto
          width 100%
          display flex
          justify-content center

        ul
          list-style none
          padding 21px 0 27px 0
          margin 0
          min-height 187px

          @media (max-width 768px)
            padding 21px 0 27px 21px

          @media (max-width 767px)
            padding 18px 0 27px 42px
            min-height 127px

          li
            font-size 24px
            line-height 32.2px
            color $gray-800
            font-weight 500
            padding-bottom 20px

            @media (max-width 767px)
              font-size 16px
              padding-bottom 12px
              line-height normal

            &:before
              content '•'
              margin 0 15px 0 -21px

            span
              font-size 16px
              line-height 32.2px
              display flex
              justify-content flex-start
              padding 3px 0 0 4px

              @media (max-width 767px)
                font-size 12px
                line-height normal



.merchant-type
  margin 0px auto
  height 90px
  display block

  @media (max-width 768px)
    display grid


  .main
    background-color transparent

  .header
    position inherit

  .cover-background
    z-index -10

.merchantTypeContainer
  display flex

  @media (max-width 768px)
    flex-direction column

  @media (max-width 460px)
    padding-top 106px

  .title
    font-size 36px
    font-weight 300
    line-height 1.39
    color #212121
    text-align center
    padding 0 0 53px 0

    @media(max-width 425px)
      font-size 20px
      padding 10px 0 18px 0

  .mBox-wrap
    display flex
    justify-content center

    @media(max-width 640px)
      display flex
      flex-wrap wrap
      padding-bottom 30px


    .mBox
      width 350px
      padding 30px
      margin 15px
      box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.15)
      border-radius 10px
      display flex
      flex-direction column
      background-color #ffffff
      height 220px

      @media(max-width 640px)
        width 100%

      .mBox-title
        font-size 24px
        font-weight 600
        color #202020
        padding-bottom 10px

      ul
        padding-left 15px
        color #212121
        li
          padding-bottom 10px
          list-style none
          text-indent -15px
          color #212121
          font-size 14px


        li:before
          content ""
          background-color #64acff
          height 5px
          width 5px
          border-radius 50%
          display inline-block
          margin-right 10px
          position relative
          top -2px

      span
        font-size 16px
        font-weight 600
        margin-top auto
        text-decoration none
        color #4cc1fc

    .left
      position relative
      -webkit-transition top 0.2s /* For Safari 3.1 to 6.0 */
      transition top 0.2s
      top 0px

      &:hover
        top -5px
        box-shadow 0 20px 50px 0 rgba(0, 0, 0, 0.25)

    .right
      position relative
      -webkit-transition top 0.2s /* For Safari 3.1 to 6.0 */
      transition top 0.2s
      top 0px

      &:hover
        top -5px
        box-shadow 0 20px 50px 0 rgba(0, 0, 0, 0.25)


  .subTitle
    font-size 18px
    font-weight 300
    text-align center
    padding-bottom 20px

    @media(max-width 640px)
      font-size 16px
      padding 0 20px 20px 20px

  .bReferences
    display flex
    justify-content space-around
    margin 0px auto
    width 100%
    max-width 1110px

    @media(max-width 768px)
      flex-wrap wrap

    img
      object-fit contain

      @media(max-width 768px)
        padding 10px 22px


  .mBoxContent
    justify-content center
    display flex
    flex-direction column
    -webkit-align-items center
    -webkit-box-align center
    align-items center

  .mBoxFooter
    margin-bottom 30px
