.merchant-type
  .iyzi-site
    .modal.fade.in

      @media(max-width 768px)
        background none !important
        right 0 !important
        bottom 0 !important

      @media(max-width 573px)
        right inherit !important
        bottom inherit !important

      .modal-dialog
        display inline-flex
        position initial
        height auto
        min-height auto
        max-width 570px
        border-radius 5px
        overflow hidden



  .iyzi-site
    .modal
      .modal-dialog
        .modal-content
          padding 16px 40px 16px 16px
          border-radius 5px

          @media(max-width 768px)
            padding 8px 40px 8px 8px
            margin 8px


          p
            font-size 16px
            color $gray-900

            @media(max-width 768px)
              padding 0

            @media(max-width 767px)
              font-size 12px

          .modal-close
            padding 0
            line-height 16px
