.milagronCampaign
  text-decoration none

  .newHeaderComponent
    background-image none
    background-color #f1f3f5

    @media(max-width 1023px)
      background-image none
      background-color #ffffff

    .iyzi-container
      padding 0 15px

      @media(max-width 1023px)
        background-image none
        padding 0

      .content
        max-width 630px
        min-width 520px

        @media(max-width 1023px)
          max-width 100%
          padding 64px 48px 0 48px
          min-width auto

        @media(max-width 767px)
          padding 16px 8px

        h1
          display flex
          font-weight bold
          line-height 1.4
          font-size 48px

          @media(max-width 767px)
            line-height normal
            font-size 34px

        p
          padding 16px 0 40px 0

          @media(max-width 767px)
            padding 8px 0 24px 0

          br
            @media(max-width 767px)
              display none

        .deercaseLogo
          max-width 270px
          padding 40px 0 0 0
          display flex
          align-items center

          @media(max-width 1023px)
            max-width 100%
            justify-content flex-start
            padding 24px 0 0 0

          @media(max-width 767px)
            justify-content center

          img
            max-height 44px

          span
            width 1px
            background-color #343a40
            height 48px
            margin 0 20px



      .imgResp
        align-self center

        @media(max-width 1023px)
          padding 0
          display block
          background-color #f1f3f5

        img
          @media(max-width 1023px)
            max-width 100%

          @media(max-width 767px)
            max-width max-content
            max-height 100%

  .iyziLife
    ul
      li
        .itemContent
          p
            max-width 470px

  .generalConditions
    padding 80px 0 120px 0

    @media(max-width 1023px)
      padding 72px 0 120px 0

    @media(max-width 960px)
      padding 80px 0

    @media(max-width 767px)
      padding 24px 0 40px 0

    .iyzi-container
      .content
        background-color $gray-200
        padding 48px 70px
        border-radius 16px
        margin 0 15px

        @media(max-width 960px)
          padding 40px 32px

        @media(max-width 767px)
          padding 16px 8px

        .title
          font-size 34px
          font-weight bold
          line-height normal
          padding-bottom 40px

          @media(max-width 767px)
            font-size 24px
            padding-bottom 16px

        ul
          list-style none
          padding 0 0 0 22px

          li
            font-size 24px
            line-height normal
            position relative
            padding 0 0 32px 0

            @media(max-width 767px)
              font-size 14px
              padding 0 0 16px 0

            &::before
              position absolute
              content ""
              height 6px
              width 6px
              border-radius 16px
              background-color #000000
              left -16px
              top 17px

  .newWhoIsiyzico
    background-color #ffffff
    padding 0

    .container
      .title
        text-align left
        color $gray-900
        font-size 48px
        font-weight bold
        line-height 1.4

        @media(max-width 959px)
          max-width 430px
          margin 0px auto

        @media(max-width 767px)
          font-size 28px
          line-height normal
          padding-left 8px

      ul
        padding 48px 0 0 0

        @media(max-width 959px)
          align-items center

        @media(max-width 767px)
          padding 32px 0 0 0

        li
          @media(max-width 959px)
            max-width 370px

          @media(max-width 767px)
            max-width 100%
            padding 16px 40px

          .sub
            color $clear-blue

            @media(max-width 959px)
              padding 32px 0 8px 0

          img
            @media(max-width 959px)
              max-width 370px

            @media(max-width 767px)
              max-width 240px

  .iyziRegister
    .container
      .downloadBtn
        a
          &:first-child
            margin-right 15px

            @media(max-width 767px)
              margin-right 8px

  .elcaBrands
    .container
      .title
        @media(max-width 960px)
          max-width 100%
          margin 0 48px
          text-align center

      ul
        margin-bottom 65px

        @media(max-width 767px)
          margin-bottom 32px

        li
          flex-direction row
          flex-wrap wrap
          padding 0

          @media(max-width 960px)
            max-width 100%
            justify-content center

          a
            cursor pointer
            display block

          img
            width fit-content
            margin 15px

            @media(max-width 767px)
              margin 8px


.dH
  display none !important

  @media(max-width 1023px)
    display block !important

.justinbeauty
  .newHeaderComponent
    background-color #ebfbee

    @media(max-width 1023px)
      background-color #ffffff

    .iyzi-container
      .content
        padding 0

        @media(max-width 767px)
          padding 16px 8px

      .imgResp
        align-self flex-end

        @media(max-width 1023px)
          background-color #ebfbee
          display flex
          padding-top 66px
          margin-bottom 64px

          @media(max-width 767px)
            margin-bottom 0
            padding-top 25px

        img
          @media(max-width 1023px)
            max-width 656px

          @media(max-width 767px)
            max-width 240px

.suwen
  .newHeaderComponent
    background-image: url('../images/content/suwen-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #fff8f6

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #fff8f6 !important
          padding 0 !important
          justify-content flex-end
          display flex

.kolaymama
  .newHeaderComponent
    background-image: url('../images/content/kolaymama-hero-bg.png')
    background-repeat no-repeat
    background-size contain
    background-color #fdf9f2

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #fdf9f2 !important
          padding 0 !important
          justify-content flex-end
          display flex

.kahhve
  .newHeaderComponent
    background-image: url('../images/content/kahhve-hero-bg.png')
    background-repeat no-repeat
    background-size contain
    background-color #f8f6fb

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 960px)
          align-items flex-start
          width 100%
          padding 64px 48px 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #f8f6fb !important
          padding 0 !important
          justify-content flex-end
          display flex

.makyajtrendi
  .newHeaderComponent
    background-image: url('../images/content/makyajtrendi-hero-bg.png')
    background-repeat no-repeat
    background-size contain
    background-color #f8f9fa

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 960px)
          align-items flex-start
          width 100%
          padding 64px 48px 0 48px !important

        @media(max-width 767px)
          padding 16px 8px !important

      h1
        @media(max-width 767px)
          font-size 24px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #f8f9fa !important
          padding 0 !important
          justify-content flex-end
          display flex

.flavus022023
  .newHeaderComponent
    background-image: url('../images/content/flavus-02-2023-hero-bg.png')
    background-repeat no-repeat
    background-size contain
    background-color #f5f9ff

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 960px)
          align-items flex-start
          width 100%
          padding 64px 48px 0 48px !important

        @media(max-width 767px)
          padding 16px 8px !important

      h1
        @media(max-width 767px)
          font-size 24px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #f5f9ff !important
          padding 0 !important
          justify-content flex-end
          display flex

.justinbeauty022023
  .newHeaderComponent
    background-color #fdf9f2

    .iyzi-container
      .imgResp
        display flex
        align-self flex-end
        flex auto
        padding 0
        max-width 640px

        @media(max-width 1023px)
          padding 60px 32px 0 32px
          background-color #fdf9f2

        img
          max-width 680px

      .content
        min-width 490px

        @media(max-width 1023px)
          background-color #ffffff

        @media(max-width 767px)
          min-width auto

.bsl022023
  .newHeaderComponent
    background-color #f8f9fa

    .iyzi-container
      .imgResp
        display flex
        align-self flex-end
        flex auto
        padding 0
        max-width 655px

        @media(max-width 1023px)
          padding 60px 32px 0 32px
          background-color #f8f9fa

        img
          max-width 680px

      .content
        min-width 490px

        @media(max-width 1023px)
          background-color #ffffff

        @media(max-width 767px)
          min-width auto


.elcaCosmetics
  .newHeaderComponent
    background-image: url('../images/content/elca-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #fff1cc

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #fff1cc !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 767px)
            max-width 284px !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start

        img
          @media(max-width 767px)
            max-height 42px !important

.elcaCosmeticsOctober
  .newHeaderComponent
    background-image: url('../images/content/elca-october-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #f9f7fc

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #f9f7fc !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start

        img
          @media(max-width 767px)
            max-height 42px !important

  .generalConditions
    .iyzi-container
      .content
        ul
          li
            a
              text-decoration underline
              line-height 1.56

.sportime
  .newHeaderComponent
    background-image: url('../images/content/sportime-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #e9ecef

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #e9ecef !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start
          width 100%

        img
          @media(max-width 767px)
            max-height 42px !important

.flavus
  .newHeaderComponent
    background-image: url('../images/content/flavus-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #f1f3f5

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #e9ecef !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start
          width 100%

        img
          @media(max-width 767px)
            max-height 42px !important

.flavusSeptember
  .newHeaderComponent
    background-image: url('../images/content/flavus-september-hero-img.png') !important
    background-color #f3f5f6

    @media(max-width 1023px)
      background-color #ffffff
      background-image none !important

.flavusNovember
  .newHeaderComponent
    background-image: url('../images/content/flavus-november-hero-img.png') !important
    background-color #fdfaf4

    @media(max-width 1023px)
      background-color #ffffff
      background-image none !important

.beto
  .newHeaderComponent
    background-image: url('../images/content/beto-hero-banner-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #fff1cc

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        max-width 640px

        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #e9ecef !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start
          width 100%

        img
          @media(max-width 767px)
            max-height 42px !important


.dkdukkanAugust
  .newHeaderComponent
    background-image: url('../images/content/dk-dukkan-august-hero.png') !important
    background-color #fff1cc !important

    @media(max-width 1023px)
      background-color #ffffff !important
      background-image none !important

.dkdukkan
  .newHeaderComponent
    background-image: url('../images/content/dk-dukkan-hero-img.png')
    background-repeat no-repeat
    background-size contain
    background-color #f9fbfb

    @media(max-width 1440px)
      background-size cover

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #e9ecef !important
          padding 0 !important
          justify-content flex-end
          display flex

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start
          width 100%

        img
          @media(max-width 767px)
            max-height 42px !important


.miniso
  .newHeaderComponent
    background-color #fff5f5

    .iyzi-container
      .imgResp
        display flex
        align-self flex-end
        flex auto
        padding 0


        @media(max-width 1023px)
          padding 60px 32px 0 32px
          background-color #fff5f5

        img
          max-width 680px

      .content
        min-width 490px

        @media(max-width 1023px)
          background-color #ffffff

        @media(max-width 767px)
          min-width auto

.shopigo
  .newHeaderComponent
    background-image: url('../images/content/shopigo-hero-img.png')
    background-repeat no-repeat
    background-size 720px
    background-color #f5f9ff
    background-position right bottom

    @media(max-width 1300px)
      background-size 440px

    @media(max-width 1023px)
      background-color #ffffff
      background-image none

    .iyzi-container
      .content
        @media(max-width 1023px)
          padding 0 48px !important

        @media(max-width 767px)
          padding 16px !important

      .imgResp
        display none

        @media(max-width 1023px)
          background-color #e9ecef !important
          padding 146px 0 0 48px !important
          justify-content flex-end
          display flex

        @media(max-width 767px)
          padding 33px 0 0 0 !important

        img
          @media(max-width 1023px)
            max-width 100% !important

      .deercaseLogo
        @media(max-width 767px)
          display flex !important
          justify-content flex-start !important
          align-self flex-start
          width 100%

        img
          @media(max-width 767px)
            max-height 42px !important
