.button
  border-radius 28px
  font-size 16px
  color #fff
  line-height 24px
  padding 16px 32px
  display inline-flex
  text-decoration none
  width max-content
  align-items center
  font-weight bold
  border 0
  outline none

  @media (max-width 640px)
    font-size 16px
    padding 15px
    line-height 18px

  &:hover
    color #fff

  &:active
    color #fff

  &:focus
    color #fff

.basic
  border-radius 28px
  border solid 1px #868e96
  color #848484
  font-weight bold

  &:hover
    color #868e96
    background-color #e9ecef
    border solid 1px #e9ecef

  &:focus
    color #868e96
    background-color #e9ecef
    border solid 1px #e9ecef
    border none


.default
  background-color #fa7355

  &:hover
    background-color #fb8f77
    background-image none

  &:focus
    background-color #fb8f77
    background-image none

.primary
  background-color #1e64ff

  &:hover
    background-color #4393ff
    background-image none

  &:focus
    background-color #4393ff
    background-image none


.buttonText
  color #1e64ff
  letter-spacing normal
  padding 15px
  line-height normal
  font-weight normal

  &:hover
    color #00bdd4
    font-weight 500

  &:active
    color #1e64ff

  &:focus
    font-weight 500
    color #00ddea

  i
    margin-left 10px

.buttonGroup
  display flex
  margin -15px
  z-index 1
