.newWhoIsiyzico
  background-color #f8f9fa
  padding 90px 0 80px 0

  @media (max-width 960px)
    padding 64px 48px

  @media (max-width 767px)
    padding 40px 16px

  .container
    flex-direction column
    width 100%
    margin 0px auto
    max-width 1200px

    @media (max-width 767px)
      padding 0

    .header
      display flex
      align-items flex-start
      flex-direction column
      padding 0 15px

      .headerTop
        display flex
        align-items flex-start

        @media (max-width 767px)
          flex-direction column

        p
          font-size 48px
          font-weight bold
          line-height 67px
          color $gray-900
          max-width 970px
          margin-left 30px

          @media (max-width 767px)
            display flex
            flex-direction column
            align-items flex-start
            font-size 28px
            line-height normal
            margin 0

      span
        font-size 24px
        font-weight normal
        line-height normal
        display flex
        max-width 970px
        margin 0px auto
        padding 16px 0 48px 0

        @media (max-width 767px)
          font-size 16px
          line-height 25px
          padding 8px 0 32px 0

      img
        margin-top 12px


        @media (max-width 767px)
          height 33px
          margin 0 0 15px 0


    .brands
      display flex
      max-width 1000px
      margin 0px auto
      justify-content space-around
      flex-wrap wrap

      .seeMore
        font-size 16px
        line-height 24px
        font-weight bold
        color $clear-blue
        padding-left 24px
        width 168px
        height 48px
        align-items center
        display none

        @media(max-width 1023px)
          display flex

        @media(max-width 767px)
          width 124px
          height 35px
          font-size 12px
          flex-direction column
          align-items flex-start

        i
          margin-right 16px

          @media(max-width 767px)
            zoom 0.6

      img
        margin 0 16px

        @media (max-width 960px)
          display inline-block
          margin-bottom 48px

        @media (max-width 767px)
          width 124px
          height 35px


    ul
      list-style none
      display flex
      padding 72px 0 0 0
      margin 0

      @media (max-width 960px)
        padding 0

      @media (max-width 768px)
        flex-direction column

      li
        display flex
        flex 1
        flex-direction column
        padding 0 15px

        @media (max-width 960px)
          padding 16px 0

        .title
          font-size 64px
          line-height 88px
          font-weight 500

          @media (max-width 767px)
            font-size 44px
            line-height 56px

        img
          margin-bottom 48px
          width 100%

          @media(max-width 768px)
            max-width 370px

          @media(max-width 767px)
            max-width 240px
            margin 0px auto

        .sub
          font-size 28px
          font-weight bold
          line-height normal
          padding 8px 0 16px 0

          @media (max-width 767px)
            font-size 24px
            padding 16px 0 8px 0

        .desc
          font-size 24px
          line-height normal

          @media (max-width 767px)
            font-size 16px
            line-height 25px

          ul
            flex-direction column
            padding 0

            li
              line-height 48px
              display flex
              flex-direction row

              @media (max-width 768px)
                padding-left 12px

              @media (max-width 767px)
                line-height 28px
                padding 0 12px

              &:before
                content '•'
                margin 0 12px 0 0

                @media (max-width 767px)
                  margin 0 18px 0 0



.minHe
  .container
    ul
      li
        .sub
          min-height 130px
          display flex
          padding 0 0 24px 0

          @media (max-width 768px)
            min-height auto
            padding 0 0 17px 0

          @media (max-width 767px)
            padding 24px 0 7px 0


