.newGraduanteHeaderContent

  .widgetBgPink
    background-size 100% 840px
    background-position top
    background-image: url('../images/content/ngPink.svg?v=v4.0.28')

    @media (max-width 768px)
      background-image: url('../images/content/ngPink-mobile.svg?v=v4.0.28')

    .container
      h1
        padding 120px 0 0 0

        @media (max-width 640px)
          padding 48px 0 0 0

  .cultureContent
    margin-bottom 0

    .container
      padding-top 210px

      @media (max-width 640px)
        padding-top 100px

  .privileges
    .container
      .privilegesWrap
        margin 0

        .yellowBg
          .title
            color #fea30d

        .privilegesBox
          align-items center

          .title
            margin-bottom 22px

          .description
            text-align center

          .buttonGroup
            margin 48px 0 0 0
      .button
        font-weight bold

    .header
      background-color #fff
      height 288px

      .container
        .title
          padding 20px 0

  .videoWrap
    margin-top 40px

  .footerVideo
    p
      text-align center

  .collageMTop
    .container
      padding-top 60px

  .teamJoinUs
    margin 160px 0

    @media (max-width 640px)
      margin 100px 0

    .container
      .rightContent
        .buttonGroup
          @media (max-width 640px)
            margin 17px 0 20px 0
            flex-direction column

          .button
            margin 0 15px
            font-weight bold

            @media (max-width 640px)
              margin 8px 0
              width 90%
              justify-content center

  .personalBuyerProtectionHowTo
    .container
      padding 60px 0

  .nGProgress
    width 1203px
    height 290px
    margin-top 10px
    background-size contain
    max-width fit-content
    position relative

    @media (max-width 640px)
      max-width 100%
      overflow hidden
      overflow-x scroll

    img
      max-width 100%

      @media (max-width 640px)
        max-width none
        height 240px

  .businessReferencessCards
    .container
      .referencessWrap
        .referencessBox
          .refBanner
            img
              @media (max-width 640px)
                padding 0
