.newMerchantResult
  .iyzi-container
    max-width 822px
    flex-direction column
    align-items center

    @media(max-width 767px)
      padding 0 8px

    img
      width 100%
      max-width 124px

    h2
      text-align center
      font-size 48px
      line-height 1.4
      font-weight bold
      padding 32px 0 16px 0

      @media(max-width 767px)
        font-size 24px
        line-height normal
        padding 32px 0 8px 0

    p
      font-size 24px
      line-height normal
      color $gray-900
      padding-bottom 48px
      text-align center

      @media(max-width 767px)
        font-size 16px
        line-height 2


    .imageWrap
      padding-bottom 32px

      img
        max-width max-content

    .appDownload
      @media(max-width 767px)
        display flex
        flex-direction column

      img
        max-width max-content
      a
        display inline-block
        margin 0 16px

        @media(max-width 767px)
          margin 0 0 16px 0

    .buttonGroup
      @media(max-width 767px)
        flex-direction column-reverse
      a
        margin 0 8px 40px 8px !important

        @media(max-width 767px)
          margin 0 0 16px 0 !important

      .basic
        padding 16px

        @media(max-width 767px)
          width 100%

        i
          margin-right 16px

      .primary
        min-width 270px
        display flex
        justify-content center


.new-merchant
  .personalRegisterSuccess
    display none

  .active
    display flex !important


  .newWhoIsiyzico
    .container
      ul
        padding 40px 0 0 0

        li
          img
            max-width 72px
            margin-bottom 24px

          .sub
            padding 0px 0 16px 0
