.openSource
  text-decoration none

  .iyziLife
    margin 120px 0 80px 0

    @media(max-width 767px)
      margin 72px 0 40px 0

    .iyzi-container
      h3
        font-size 40px
        width 100%
        padding 0 15px
        text-align center

        @media (max-width 767px)
          font-size 24px
          margin-bottom 16px

      ul
        li
          @media (max-width 767px)
            padding 8px
            margin-bottom 32px

          .itemContent
            line-height normal
            font-size 24px

            @media (max-width  767px)
              font-size 14px

            .itemLogo
              margin-bottom 24px

              img
                @media (max-width 767px)
                  max-height 40px
                  margin-top 24px

            .buttonGroup
              margin 48px 0 0 0

              @media (max-width 767px)
                flex-direction initial
                padding 0

              a
                span
                  background-image url('../images/icons/question.svg')
                  width 24px
                  height 24px
                  margin-right 16px
                  background-size contain

              .button
                padding 16px 24px 16px 16px

                @media (max-width 767px)
                  max-width none
                  width fit-content

                &:hover
                  span
                    background-image url('../images/icons/question-white.svg')

  .readyIntegration
    .container
      flex-direction column

      @media (max-width 767px)
        padding 56px 0

      h3
        text-align center
        width 100%
        font-size 40px
        line-height normal
        margin-bottom 48px

        @media (max-width 767px)
          font-size 24px
          margin-bottom 16px

      ul
        li
          box-shadow none
          background-color $gray-200

          .image
            width 260px
            height 80px

            img
              max-height 60px

          .description
            padding-bottom 32px

          .buttonGroup
            margin auto 0 0 0

            a
              span
                background-image url('../images/icons/question.svg')
                width 24px
                height 24px
                margin-right 16px
                background-size contain

            .button
              padding 16px 24px 16px 16px
              border-color $clear-blue

              &:hover
                background-color $clear-blue
                color #ffffff !important

                span
                  background-image url('../images/icons/question-white.svg')


  .circleButton
    width 56px
    height 56px
    border-radius 30px
    background-color $clear-blue
    margin-left 16px
    display flex
    align-items center
    justify-content center

    img
      max-width 24px

    a
      display flex

  .newiyziCards
    .iyzi-container
      .cardWrap
        @media (max-width 767px)
          flex-direction column

        .cardBox
          i
            @media (max-width 767px)
              margin-bottom 0


  .multipleCards
    .iyzi-container
      .header
        justify-content center

        .title
          padding-bottom 38px

          h2
            text-align center
            padding-top 0

          p
            padding-bottom 0
            text-align center

  .openSourceProgress
    background-image: url('../images/content/openSource-process.png')
    width 1170px
    height 286px
    margin-top 18px
    background-size contain
    background-repeat no-repeat

    @media (max-width 960px)
      background-image: url('../images/content/openSource-process-m.png')
      width 290px
      height 1034px
      background-size contain
      margin 0px auto

  .openSourceProgressEN
    background-image: url('../images/content/openSource-process.png')
    width 1170px
    height 307px
    margin-top 100px
    background-size contain
    background-repeat no-repeat

    @media (max-width 960px)
      background-image: url('../images/content/openSource-process-m.png')
      width 290px
      height 1034px
      background-size contain
      margin 0px auto
