.tooltiptext
    padding 12px 0 4px 0
    border-radius 6px
    color $gray-600
    font-size 12px
    font-weight normal
    line-height 16px

    @media(max-width 768px)
        left 0
        right 0
        margin-left auto
        margin-right auto
        top -85px

    & span
        display block
        text-align left
        padding 4px 0
        color $gray-600

        &::before
            display inline-block
            content ''
            -webkit-border-radius 25px
            border-radius 25px
            height 4px
            width 4px
            margin-right 4px
            position relative
            top -1px
            background-color $gray-600
            color $gray-600

    & span.dashed
        text-decoration line-through
        color #b7c4cb

    & span.wrong
        color #FE5554
