.personalHome
  .newHeaderComponent
    background-color #f5f9ff
    background-image none

    @media(max-width 1023px)
      background-color #ffffff

    .iyzi-container
      max-width 1170px

      .content
        max-width 628px
        padding 0
        flex unset

        @media(max-width 1023px)
          align-self flex-start
          padding 32px 0 0 48px

        @media(max-width 767px)
          padding 16px 8px 0 8px

        h1
          font-weight bold
          line-height normal

          @media(max-width 1023px)
            display inline-flex

        p
          font-size 20px
          max-width 534px
          padding 16px 0 40px 0

          @media(max-width 767px)
            font-size 16px
            padding 8px 0 32px 0

        .buttonGroup
          .button
            min-width 240px

            @media(max-width 1023px)
              min-width 270px

            @media(max-width 767px)
              min-width 288px
              padding 19px

      .imgResp
        align-self center

        @media(max-width 1023px)
          align-items center
          flex auto
          height 586px
          background-color #f5f9ff

        @media(max-width 767px)
          height 233px

        img
          @media(max-width 1023px)
            max-width 562px
            height 554px

          @media(max-width 767px)
            max-width 224px
            height auto

  .multipleCards
    justify-content center

    .iyzi-container
      max-width 1170px
      padding 100px 0 0 0

      @media(max-width 767px)
        padding 40px 0 0 0

      .cardWrap
        padding 0
        margin 0
        justify-content center
        max-width 1170px
        flex-wrap wrap

        .cardBox
          width 320px
          height 220px
          border 1px solid #dee2e6
          display flex
          align-content center
          align-items center
          justify-content center
          border-radius 16px
          padding 0
          margin 20px
          flex auto

          @media(max-width 767px)
            margin 8px
            height 152px

          img
            align-self center

            @media(max-width 767px)
              width 64px !important

          h3
            font-size 24px !important
            align-items center
            display inline-flex
            padding 24px 0 0 0

            @media(max-width 767px)
              font-size 16px !important
              padding 16px 0 0 0

            span
              font-size 24px !important

              @media(max-width 767px)
                font-size 16px !important


  .iyziLife
    .iyzi-container
      max-width 1170px
      padding 0

      ul
        &:last-child
          li
            justify-content space-between

        li
          padding 60px 0

          @media(max-width 1023px)
            padding 48px 0
            align-items center

          @media(max-width 767px)
            padding 48px 0 0 0

          h3
            br
              @media(max-width 767px)
                display none

          span
            br
              @media(max-width 1023px)
                display none

          &:last-child
            .itemContent
              padding 0
              max-width 570px

              @media(max-width 1023px)
                padding 0 48px
                font-size 48px
                max-width 100%

              @media(max-width 767px)
                padding 0 8px
                font-size 34px

              p
                max-width 521px

                @media(max-width 1023px)
                  max-width 100%

            .itemImg
              padding 0 0 0 15px

          .itemimg
            padding 0 15px 0 0
            max-width 555px
            display flex
            align-items center

            @media(max-width 1023px)
              padding 0
              max-width 540px

            @media(max-width 767px)
              padding 0 16px

          .itemContent
            padding 0 8px 0 38px
            justify-content flex-start

            @media(max-width 1023px)
              padding 0 48px

            @media(max-width 767px)
              padding 0 8px

            h3
              min-width 100%
              font-size 48px

              @media(max-width 1023px)
                margin-top 48px
                display flex
                flex-direction column
                align-items flex-start

                span
                  text-align left

              @media(max-width 767px)
                padding 0
                margin-top 32px
                min-width auto
                display inline-block
                font-size 34px


            ul
              li
                justify-content flex-start
                max-width 452px

                @media(max-width 1023px)
                  flex-direction row
                  max-width 100%

            .buttonGroup
              margin 36px 0 0 0

              @media(max-width 767px)
                margin 24px 0 0 0
                align-items center

              .button
                width 100%
                max-width 240px
                display flex
                justify-content center
                margin-right 24px

                @media(max-width 1023px)
                  max-width 270px

                @media(max-width 767px)
                  margin 8px 0
                  max-width 288px
                  padding 19px

              .basic
                color $clear-blue
                padding 15px 0

                @media(max-width 767px)
                  padding 18px

            .scrolling-words-container
              display inline-flex
              align-items center
              font-size 48px
              font-weight 600

              @media(max-width 767px)
                font-size 34px
                flex-direction column
                align-items flex-start

            .scrolling-words-box
              height 61px
              overflow hidden

              @media(max-width 767px)
                height 43px

            .scrolling-words-box
              span
                line-height normal

            .scrolling-words-box
              ul
                padding 0
                animation scrollUp 8s infinite

            .scrolling-words-box
              ul
                li
                  display flex
                  align-items center
                  justify-content flex-start
                  height 59px
                  font-size 48px
                  padding 0 8px 0 0
                  list-style none
                  font-weight bold

                  @media(max-width 1023px)
                    align-items flex-start

                  @media(max-width 767px)
                    font-size 34px
                    display flex
                    align-items flex-start
                    font-size 34px

                  &:before
                    display none


            @keyframes scrollUp {
              13.333%, 33.333% {
                transform: translateY(-25%);
              }
              46.666%, 66.666% {
                transform: translateY(-50%);
              }
              79.999%, 99.999% {
                transform: translateY(-75%);
              }
            }

            p
              font-size 20px
              padding 24px 0 20px 0

              @media(max-width 767px)
                font-size 16px
                padding 8px 0 16px 0

            ul
              li
                padding 12px 0
                font-size 20px
                font-weight 500
                line-height normal

                @media(max-width 767px)
                  padding 8px 0
                  font-size 16px
                  display flex
                  align-items flex-start

                &:before
                  content ""
                  background-image: url('../images/icons/bullet.svg')
                  margin 0 16px 0 0px
                  width 24px
                  min-width 24px
                  height 24px
                  background-size contain
                  display flex


  .iyziRegister
    padding 136px 0
    margin 40px 0 72px 0

    @media(max-width 960px)
      margin 32px 0
      padding 64px 56px 72px 56px

    @media(max-width 767px)
      padding 72px 16px
      margin 32px 0 16px 0

    .container
      display flex
      align-items center
      max-width 1170px
      padding 0 26px

      @media(max-width 960px)
        padding 0
        flex-direction column
        align-items flex-start

      h2
        font-size 40px
        line-height 56px
        margin 0 0 0 36px
        max-width 730px
        padding 0

        @media(max-width 960px)
          display inline-block
          margin 0

        @media(max-width 767px)
          font-size 24px
          line-height normal

        span
          font-weight bold

      .button
        margin-top 48px
        color $orange-pink

        @media(max-width 767px)
          margin-top 32px
          padding 19px

      .mHide
        display none

        @media(max-width 960px)
          display block

        @media(max-width 767px)
          display block !important

      .imgResp
        @media(max-width 960px)
          display none

        img
          width 200px
          height 200px


  .newWhoIsiyzico
    padding 48px 0

    @media(max-width 767px)
      padding 32px 0

    .container
      max-width 1268px
      padding 0 48px

      @media(max-width 767px)
        padding 0 8px

      .header
        padding 0

        span
          margin 20px 0 0 0
          padding 0
          font-size 20px

        .headerTop
          p
            display flex
            font-weight bold
            margin-left 0

            @media(max-width 960px)
              flex-direction column

            @media(max-width 767px)
              padding 16px 0 0 0


            span
              font-size 48px
              line-height 67px
              font-weight bold
              padding 0
              margin 0
              display contents

              @media(max-width 960px)
                display inline-flex

              @media(max-width 767px)
                font-size 28px
                line-height normal


          img
            width 59px
            margin 20px 16px 0 0

            @media(max-width 960px)
              margin 20px 30px 0 0

            @media(max-width 767px)
              margin 0 30px 0 0

        .headerSubMenu
          display flex
          justify-content space-between
          width 100%
          padding 16px 0 0 0

          @media(max-width 767px)
            padding 8px 0 0 0

          span
            margin 0
            max-width 810px

            @media(max-width 767px)
              font-size 16px

          .buttonGroup
            margin 0

            @media(max-width 960px)
              display none

            .buttonText
              color $gray-900
              font-size 20px
              font-weight bold
              padding 0

  .brandsBox
    .iyzi-container
      max-width 1268px

      .brandsWrap
        margin-bottom 56px

        @media(max-width 960px)
          margin-bottom 32px

        @media(max-width 767px)
          margin-bottom 0


        .ulCenter
          max-width 100%

          .buttonGroup
            margin 0

            .buttonText
              color $gray-900
              font-size 20px
              font-weight bold
              padding 32px 0 0 0
              margin 0px auto
              display none

              @media(max-width 960px)
                display flex



          ul
            padding 0

            li
              width 150px
              margin 0 27px

              @media(max-width 767px)
                margin 0 12px


              &:first-child
                margin-left 48px

                @media(max-width 767px)
                  margin-left 8px

              &:last-child
                margin-right 48px

                @media(max-width 767px)
                  margin-right 8px

              a
                img
                  @media(max-width 960px)
                    width 150px

                  @media(max-width 767px)
                    width 128px
                    margin 0


          ul
            flex-wrap nowrap
            overflow-x scroll
            scrollbar-width none


            &::-webkit-scrollbar
              display none

            &::-ms-overflow-style none

            li
              margin 0 27px
              width 150px

              &:first-child
                margin 0 27px 0 0

              &:last-child
                margin 0 0 0 27px

              a
                img
                  @media(max-width 960px)
                    width 150px

  .campaignLP
    .iyziTabs
      @media(max-width 767px)
        margin-bottom 48px

      .iyzi-container
        max-width 1268px

        @media(max-width 767px)
          padding 0

        .tab-content
          ul
            margin 0
            padding 0
            flex-wrap nowrap
            overflow-x scroll
            scrollbar-width none


            &::-webkit-scrollbar
              display none


            @media(max-width 767px)
              flex-direction row
              align-items flex-start


            li
              margin 0 15px
              width 370px
              min-width 362px

              @media(max-width 960px)
                min-width 328px
                margin 0 8px

              @media(max-width 767px)
                min-width 256px

              &:first-child
                margin-left 48px

                @media(max-width 767px)
                  margin-left 8px

              &:last-child
                margin-right 48px

                @media(max-width 767px)
                  margin-right 8px

              .title
                @media(max-width 767px)
                  font-size 16px
                  padding 0 0 16px 0

                strong
                  @media(max-width 767px)
                    font-size 16px

              .description
                @media(max-width 767px)
                  font-size 14px
                  min-height 100px

              .subDesc
                @media(max-width 767px)
                  font-size 13.5px

              .containerWrap
                .image
                  img
                    @media(max-width 960px)
                      height 206px

                    @media(max-width 767px)
                      height 144px

              .button
                @media(max-width 767px)
                  font-size 13.5px!important


        .button
          min-width 100%

          @media(max-width 767px)
            padding 14px

        .buttonGroup
          margin 0

          .buttonText
            color $gray-900
            font-size 20px
            font-weight bold
            padding 32px 0 0 0
            margin 0px auto
            display none

            @media(max-width 960px)
              display flex

