.personalContractedSitesHeaderContent
  height auto
  background-image: url('../images/content/sub-page-bg.svg')
  background-repeat no-repeat
  background-size 100% 988px
  background-position top

  @media (max-width 768px)
    background-image: url('../images/content/support-header-768.svg')
    background-size 100% 420px

  @media (max-width 640px)
    background-image: url('../images/content/mobil-header.svg')
    background-size 100% 270px

  .container
    padding-top 215px
    display flex
    align-items center
    justify-content center
    flex-direction column

    @media (max-width 768px)
      padding-top 200px

    @media (max-width 640px)
      padding-top 70px

    .dropdownMenu
      display none

      @media (max-width 768px)
        display block

    .headerContent
      display flex
      flex-direction column
      justify-content center
      align-items center

      h1
        display flex
        flex-direction column
        align-items center
        padding-bottom 30px

        @media (max-width 640px)
          text-align center
          padding 0 20px

      p
        text-align center
        max-width 960px
        padding 0 0 60px 0

        @media (max-width 640px)
          font-size 12px
          padding 20px

  .personalReferancessWrap
    .container
      padding 80px 0 60px 0
      display flex
      align-items flex-start
      flex-direction row

      @media (max-width 768px)
        flex-direction column

      @media (max-width 640px)
        flex-direction column
        padding 30px 20px 50px 20px

      .personalReferencessMenu
        flex 1

        @media (max-width 768px)
          width 100%

        .mobileHidden
          @media (max-width 768px)
            display none

        @media (max-width 640px)
          width 100%

        .dropdownMenu
          @media (max-width 768px)
            width 100%
            padding-bottom 30px

          .dropdown
            display none

            @media (max-width 768px)
              display block

            .btn-secondary
              @media (max-width 640px)
                width 100%
                background-color #fff
                font-size 14px
                color #202020
                box-shadow 0 10px 25px 0 rgba(0, 0, 0, 0.1)
                border none
                padding 15px
                border-radius 10px
                display flex
                justify-content space-between

            .dropdown-toggle
              &:after
                @media (max-width 640px)
                  margin-top 8px

            .dropdown-menu
              @media (max-width 640px)
                width 100%
                border none
                font-size 14px
                margin-top -8px
                border-radius 0 0 10px 10px

              .dropdown-item
                @media (max-width 640px)
                  padding 1em 1.5em



        ul
          padding 0
          list-style none

          li
            font-size 18px
            font-weight 500
            color #202020
            line-height 46px
            cursor pointer

            a
              text-decoration none
              color #202020
              display block

              &:hover
                color $clear-blue
                font-weight bold

                &:before
                    content ""
                    margin 0 7px 0 -10px
                    border 2px solid #1e64ff
                    border-radius 0 2px 2px 0
                    display content

            .selected
              color $clear-blue
              font-weight bold

              &:before
                  content ""
                  margin 0 7px 0 -10px
                  border 2px solid #1e64ff
                  border-radius 0 2px 2px 0
                  display content

      .personalReferencessContent
        flex 3
        display flex
        flex-wrap wrap
        margin 0 -15px

        .personalReferencessCard
          display flex
          padding 30px 0 20px 0
          flex-direction column
          align-items center
          justify-content center
          background-color #fff
          box-shadow 0 10px 25px 0 rgba(0, 0, 0, 0.1)
          border-radius 15px
          margin 15px
          width 100%
          max-width 270px

          @media (max-width 1024px)
            max-width 341px

          @media (max-width 768px)
            max-width 220px

          @media (max-width 640px)
            width 100%
            max-width none

          p
            font-size 18px
            color $clear-blue
            padding 20px 0

          .personalReferencessTagGroup
            span
              font-size 12px
              color #202020
              font-weight 300
              background-color #f2f2f2
              border 1px solid #848484
              border-radius 10px
              padding 5px 10px

        .bottomButton
          display flex
          flex 1
          justify-content center
          padding 40px 0 0 0
