.personalCashBack250Percent10
  text-decoration none

  .newHeaderComponent
    background-color #f5f9ff
    background-image none
    height 484px

    @media(max-width 1023px)
      background-color #ffffff
      height 100%

    .iyzi-container
      background-size 100%
      background-repeat no-repeat
      background-position right
      padding 0 15px

      @media(max-width 1023px)
        background-image none
        padding 0

      .content
        max-width 630px
        height auto

        @media(max-width 1023px)
          max-width 100%

        @media(max-width 960px)
          width 100%
          padding 64px 48px 0 48px

        @media(max-width 767px)
          background-color #ffffff
          padding 16px 8px 48px 8px

        h1
          display flex
          font-weight bold
          line-height 1.4

      .imgResp
        @media(max-width 1023px)
          background-color #f5f9ff

        img
          max-width 484px

          @media(max-width 767px)
            max-width 230px

  .newWhoIsiyzico
    background-color #ffffff
    padding 0

    .container
      .title
        text-align left
        color $gray-900
        font-size 48px
        font-weight bold
        line-height 1.4

        @media(max-width 959px)
          max-width 430px
          margin 0px auto

        @media(max-width 767px)
          font-size 28px
          line-height normal
          padding-left 8px

      ul
        padding 48px 0 0 0

        @media(max-width 959px)
          align-items center

        @media(max-width 767px)
          padding 32px 0 0 0

        li
          @media(max-width 959px)
            max-width 370px

          @media(max-width 767px)
            max-width 100%
            padding 0 4px

          .sub
            color $clear-blue

          img
            @media(max-width 959px)
              max-width 370px

            @media(max-width 767px)
              max-width 240px

  .iyziRegister
    .container
      .downloadBtn
        a
          &:first-child
            margin-right 32px

            @media(max-width 767px)
              margin-right 0

  .generalConditions
    padding 80px 0 120px 0

    @media(max-width 960px)
      padding 80px 0

    @media(max-width 767px)
      padding 0 0 80px 0

    .iyzi-container
      .content
        background-color $gray-200
        padding 48px 70px
        border-radius 16px
        margin 0 15px

        @media(max-width 960px)
          padding 40px 32px

        @media(max-width 767px)
          padding 16px 8px

        .title
          font-size 34px
          font-weight bold
          line-height normal
          padding-bottom 40px

          @media(max-width 767px)
            font-size 24px
            padding-bottom 16px

        ul
          list-style none
          padding 0 0 0 22px

          li
            font-size 24px
            line-height normal
            position relative
            padding 0 0 32px 0

            @media(max-width 767px)
              font-size 14px
              padding 0 0 16px 0

            &::before
              position absolute
              content ""
              height 6px
              width 6px
              border-radius 16px
              background-color #000000
              left -16px
              top 17px
