.personalMobileAppSliderWrap
  position relative
  display flex
  flex-direction column
  align-items center
  overflow hidden

  h3
    text-align center
    font-size 48px
    padding 100px 0 72px 0
    line-height normal

    @media(max-width 767px)
      padding 40px 0 32px 0
      font-size 28px

.personalMobileAppSlider
  max-width 1170px
  margin 0px auto
  width calc( 100% - 140px)

  @media(max-width 960px)
    flex-direction column
    width 100%

  .sliderContainer
    .slick-list
      border-radius 16px
      overflow hidden
      left 160px
      margin-right -50%

      @media(max-width 960px)
        left 0
        padding-left 40px
        height 690px

      @media(max-width 767px)
        height 394px
        margin-right 0
        overflow visible
        padding-left 8px
        left 0

    .slick-arrow
      width 48px
      height 48px
      border-radius 25px

    .slick-prev
      left -60px
      background-image url('../images/icons/left-arrow-passive.svg')

      &:hover
        background-image url('../images/icons/left-arrow-active.svg')


    .slick-next
      left 10px
      background-image url('../images/icons/right-arrow-passive.svg')

      &:hover
        background-image url('../images/icons/right-arrow-active.svg')

    .slick-dots
      height 10px
      margin 0

      @media(max-width 767px)
        margin 38px 0 0 0

    .campaignSliderBox
      display flex
      border-radius 16px
      flex-direction column
      overflow hidden
      max-width 392px
      width 392px !important
      margin 0 20px

      @media(max-width 960px)
        min-height 320px

      @media(max-width 767px)
        min-height 140px
        border-radius 16px
        margin 0 12px
        width 256px !important

      .campaignSliderContent
        display flex
        flex-direction column
        justify-content center
        padding 24px 0 80px 0

        @media(max-width 960px)
          padding 32px 0 0 40px
          display block

        @media(max-width 767px)
          padding 20px 0 0 20px

        .title
          font-size 20px
          font-weight normal
          padding-bottom 16px
          line-height normal
          color $gray-900
          display flex
          flex-direction column

          @media(max-width 960px)
            font-size 24px
            padding-bottom 0

          @media(max-width 767px)
            font-size 14px

          span
            font-weight bold

        .desc
          font-size 24px
          padding-bottom 16px
          line-height normal
          max-width 504px
          color $gray-900

          @media(max-width 960px)
            font-size 16px

          @media(max-width 767px)
            display none

        .primary
          min-width 240px
          justify-content center
          color $gray-100
          background-color $gray-900

          @media(max-width 767px)
            font-size 12px !important
            padding 9px
            line-height 12px
            min-width 120px

      .campaignSliderImgBox
        display flex
        align-self center

        img
          display flex

          @media(max-width 767px)
            width 256px
            height 340px
            max-height 340px

