.personalCampaign
  .newHeaderComponent
    background-image none
    background-color #f5f9ff
    margin-bottom 80px

    @media(max-width 960px)
      background-color #ffffff
      margin-bottom 46px

    .iyzi-container
      .content
        @media(max-width 960px)
          width 100%
          padding 35px 48px

        @media(max-width 767px)
          padding 16px 8px

        p
          padding 16px 0 34px 0

          @media(max-width 767px)
            padding 8px 0 14px 0

        .buttonGroup
          .socialMedia
            a
              display inline-block
              line-height normal
              margin-right 12px

              @media(max-width 767px)
                margin-right 8px

              img
                width 40px
                height 40px

                @media(max-width 767px)
                  width 32px
                  height 32px

      .imgResp
        @media(max-width 960px)
          background-color #f5f9ff
  .readyIntegration
    .container
      ul
        justify-content flex-start

        li
          padding 17px 24px 40px 24px

          .button
            min-width 234px
            justify-content center

            &:hover
              background-color #f8f9fa
              border 1px solid #1e64ff

            &:visited
              background-color #f8f9fa
              border 1px solid #1e64ff

            &:focus
              background-color #f8f9fa
              border 1px solid #1e64ff


          .image
            img
              max-height 100%
              width 100%


      .subDescription
        display none

  .contactHero
    background-color #F5F9FF

    @media(max-width 767px)
      padding-bottom 30px

