.consumerRegisterSucsess
  overflow-y hidden !important

  @media(max-width 640px)
    height 100%

  .iyziModalWrap
    .iyziModalContainer
      @media(max-width 640px)
        display flex
        justify-content center
        align-items center

      .modalContent
        h2
          padding-bottom 0

        p
          padding-top 8px
          max-width 670px

          span
            font-size 14px
            max-width 300px
            display flex

            @media(max-width 768px)
              display none

        .buttonGroup
          display none

          @media(max-width 768px)
            display block

        .qrCode
          display block
          border-radius 6px
          box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.1)
          background-color #ffffff

          @media(max-width 768px)
            display none

.consumerRegisterFail
  .iyziModalWrap
    .iyziModalContainer
      max-height 500px
      display flex
      justify-content center
      align-items center

      .iyziModalContent
        .contentWrap
          background-color #fff
          padding 20px 0 0 0

          .content
            .buttonGroup
              margin 0
              justify-content center




#otpError
  font-size 12px
  font-weight bold
  font-style normal
  line-height normal
  color #d33800
  text-align left
  margin-top 5px
