.privileges
  padding-bottom 100px
  display flex
  flex-direction column

  @media (max-width 640px)
    padding-bottom 0px

  .header
    height 358px
    background-color #fafafa

    @media (max-width 768px)
      height 328px

    @media (max-width 640px)
      height 187px
      align-items center
      padding 20px

    .container
      display flex
      justify-content center
      flex-direction column
      align-items center
      text-align center

      .title
        font-size 48px
        line-height 58px
        font-weight bold
        padding 100px 0 20px 0
        color #202020

        @media (max-width 768px)
          padding 80px 0 20px  0

        @media (max-width 640px)
          font-size 24px
          padding 0

  .description
    font-size 18px
    color #848484
    line-height 1.67
    max-width 970px

    @media (max-width 768px)
      font-size 14px
      line-height 1.71

    @media (max-width 640px)
      font-size 12px
      padding-bottom 0

  .privilegesWrap
    margin -95px 0 0 0
    display flex

    @media (max-width 640px)
      flex-direction column
      margin -25px 0 0 0

    .privilegesBox
      max-width 570px
      margin 15px
      height auto
      padding 80px 60px 80px 80px
      background-color #fff
      box-shadow 0 10px 25px 0 rgba(0, 0, 0, 0.1)
      border-radius 10px
      display flex
      justify-content center
      flex-direction column

      @media (max-width 1024px)
        padding 60px 30px

      @media (max-width 768px)
        padding 40px 30px 30px 30px

      @media (max-width 640px)
        height auto
        padding 20px

      .title
        font-size 24px
        color $clear-blue
        line-height normal
        font-weight bold
        z-index 1

        @media (max-width 768px)
          font-size 18px

        @media (max-width 640px)
          font-size 14px

        i
          margin-right 10px

      .subTitle
        font-size 42px
        font-weight 500
        line-height 51px
        color #202020
        padding 10px 0 20px 0
        z-index 1

        @media (max-width 768px)
          font-size 38px
          line-height 1

        @media (max-width 640px)
          font-size 20px
          padding-bottom 15px

    .blueBg
      background-image: url('../images/content/decoration_b.svg?v=v4.0.28')
      background-repeat no-repeat
      background-position top left

      @media (max-width 640px)
        background-image: url('../images/content/decoration_b_mobile.svg?v=v4.0.28')
        background-size auto 100%

    .yellowBg
      background-image: url('../images/content/decoration_y.svg?v=v4.0.28')
      background-repeat no-repeat
      background-position top left

      @media (max-width 640px)
        background-image: url('../images/content/decoration_y_mobile.svg?v=v4.0.28')
