.pPwiBrands
  .modal
    @media(max-width 768px)
      top 0 !important
      bottom 0 !important
      width 100%

  .iyziModal

    .iyziModalWrap
      max-width 520px
      margin 0
      height auto
      max-height none

      @media(max-width 767px)
        margin 0 16px

      .iyziModalContainer
        max-height 698px
        border-radius 10px

        .iyziModalContent
          flex-direction column

          .popupPwiLogo
            width 228px
            position absolute
            top 48px
            left 146px

          img
            @media(max-width 767px)
              display none

          .pwiBrandModalContent
            padding 32px 0

            @media(max-width 767px)
              padding 40px 24px 24px 24px

            .title
              font-size 24px
              font-weight bold
              line-height normal
              color $clear-blue
              text-align center
              padding 8px 0 16px 0

              @media(max-width 767px)
                font-size 16px
                padding 0 0 12px 0
                display flex
                flex-direction column

            ul
              padding 0 80px
              margin 0
              list-style none

              @media(max-width 767px)
                padding 0

              li
                padding 16px
                display flex
                flex-direction row
                padding-left 16px

                @media(max-width 767px)
                  padding 12px 0 12px 0

                svg
                  width 32px
                  height 32px
                  min-width 32px

                p
                  font-size 14px
                  font-weight normal
                  line-height normal
                  display flex
                  align-items center
                  text-align start
                  padding-left 16px
                  color $gray-900

              .note
                background-color #fff1cc
                border-radius 8px
                padding 16px
                margin-top 8px

                @media(max-width 767px)
                  margin-top 24px

                p
                  font-size 12px
                  justify-content center
                  align-items flex-start
                  flex-direction column

                  span
                    color $gray-900
                    padding-bottom 4px
                    font-weight bold

                  strong
                    display contents

            .brandDomain
              font-size 16px
              line-height 25px
              color $gray-600
              font-weight 500
              margin 24px 0 8px 0

              @media(max-width 767px)
                font-size 14px
                line-height normal
                margin 22px 0 8px 0

            .primary
              @media(max-width 767px)
                padding 8px 24px 8px 16px

              svg
                width 24px
                height 24px
                margin 0 16px 0 -16px

                @media(max-width 767px)
                  margin 0 16px 0 0px


