.referencessBrands
  background-color #f8f9fa
  display flex

  .iyzi-container
    display flex
    justify-content space-around
    align-items center
    overflow hidden
    padding 40px 0
    flex-wrap wrap

    @media(max-width 767px)
      flex-wrap wrap
      padding 0

    &:before
      content none

    img
      margin 0 16px

      @media(max-width 1023px)
        margin 16px

      @media(max-width 767px)
        width 124px


    .seeMore
      font-size 16px
      line-height 24px
      font-weight bold
      color $clear-blue
      width 168px
      height 48px
      display flex
      align-items center

      @media(max-width 1023px)
        margin 16px

      @media(max-width 767px)
        width 124px
        font-size 12px
        flex-direction column
        align-items flex-start

      i
        margin-right 16px

        @media(max-width 767px)
          zoom 0.6

