.screens
  display flex

  .iyzi-container
    max-width 970px
    flex-direction column

    .screenImg
      width 100%
      max-width 1018px

      @media(max-width 767px)
        margin-bottom 24px

      img
        width 100%

    .screenContent
      ul
        margin 0
        padding 0
        list-style none
        display flex
        flex-wrap wrap

        @media(max-width 767px)
          justify-content center
          padding 0 54px

        li
          max-width 323px
          width 100%
          font-size 24px
          color $gray-800
          font-weight 500
          display flex
          padding 20px 0
          align-items flex-start


          @media(max-width 767px)
            font-size 16px
            line-height 1.56
            font-weight bold
            padding 8px 0

          img
            margin-right 8px
            width 32px

            @media(max-width 767px)
              width 24px
              height 24px
