body.modal-open
  overflow hidden !important

.modal-close
  position absolute
  right 0
  top 0
  z-index 99
  border 0
  outline 0
  margin 20px
  background-color transparent
  opacity 0.8

  @media(max-width 768px)
    margin 10px

  & .fa
    color #989898
    font-size 18px

.signup-modal
  position fixed

  & .button__calltoaction
    letter-spacing 1px
    text-align center

      @media (max-width: 768px)
        width auto

      @media (max-width: 480px)
        font-size 16px

  &__wrapper
    width 920px
    max-width 920px
    min-height 530px
    box-shadow 0 0 40px 0 rgba(0, 0, 0, 0.1)

    @media (max-width 920px)
      width 100%
      margin-top 0!important

    & .modal-content
      clearfix()
      width 100%
      height auto
      border-radius 0
      border 0

  &__form
    height 100%
    padding 60px 40px


    @media(max-width 920px)
      padding 30px

      & .button
        display block

  &--title
    margin 0
    margin-bottom 30px
    font-size 48px
    font-weight normal

    @media(max-width 768px)
      font-size 36px

  &--content
    font-size 18px
    margin 0
    margin-bottom 155px

    @media(max-width 920px)
      margin-bottom 30px

  &--link
    display block
    font-size 14px
    color #64acff

    & a
      color #64acff
      font-size 14px

      & .fa
        margin-left 5px
        padding-top 3px
        font-size 14px

.iyzi-site
  .offer-modal
    .modal-dialog
      height 100%

      .modal-content
        height 80%
        overflow-y auto
        max-height 678px

        @media (max-width 768px)
          padding 30px 20px
          position absolute

          @media (max-width 640px)
            height unset

        .row
          flex-direction row
          align-items flex-start

          a
            @media (max-width 768px)
              margin-top 0
              width 100%

          .offerContent
            display flex
            flex 1
            padding 0 40px 0 0

            @media (max-width 768px)
              flex inherit

            h2
              padding-top 0

            p
              @media (max-width 768px)
                padding 0

          .offerForm
            display flex
            flex 1

            @media (max-width 768px)
              width 100%

            .signup-modal__form
              padding 10px 0 0 0
              width 100%

              @media (max-width 768px)
                width 768px

              .row
                padding-bottom 20px
                span
                  font-size 18px
                  line-height auto
                  color #202020
                  font-weight bold
                  letter-spacing 2.6px

                  @media (max-width 768px)
                    font-size 16px

              .input-form
                margin-top 10px
                border none
                height 52px
                border-radius 10px
                -webkit-box-shadow 0px 10px 15px #ececec
                box-shadow 0px 10px 15px #ececec
                outline 0
                padding 15px
                letter-spacing 2.6px
                font-weight 400
                border 1px solid #ececec

                @media (max-width 768px)
                  height 47px

              .error
                border 1px solid red
                color red

              label
                border none !important
                font-size 14px
                color red
                font-weight 500
                margin-bottom 0

  .offer-modal-cash-package
    .modal-dialog
      height 100%

      .modal-content
        @media (max-width 768px)
          padding 30px 20px
          position absolute

          @media (max-width 640px)
            height unset

        .row
          flex-direction row
          align-items flex-start

          a
            @media (max-width 768px)
              margin-top 0
              width 100%

          .offerContent
            display flex
            flex 1
            padding 0 40px 0 0

            @media (max-width 768px)
              flex inherit

            h2
              padding-top 0

            p
              @media (max-width 768px)
                padding 0

          .offerForm
            display flex
            flex 1

            @media (max-width 768px)
              width 100%

            .signup-modal__form
              padding 10px 0 0 0
              width 100%

              @media (max-width 768px)
                width 768px

              .row
                padding-bottom 20px
                span
                  font-size 18px
                  line-height auto
                  color #202020
                  font-weight bold
                  letter-spacing 2.6px

                  @media (max-width 768px)
                    font-size 16px

              .input-form
                margin-top 10px
                border none
                height 52px
                border-radius 10px
                -webkit-box-shadow 0px 10px 15px #ececec
                box-shadow 0px 10px 15px #ececec
                border 1px solid #ececec
                outline 0
                padding 15px
                letter-spacing 2.6px
                font-weight 400

                @media (max-width 768px)
                  height 47px
              .error
                border 1px solid red
                color red

              label
                border none !important
                font-size 14px
                color red
                font-weight 500
                margin-bottom 0


  .buyerProtectedMoneyTransfer
    .modal-dialog
      height 100%

      .modal-content
        @media (max-width 768px)
          padding 30px 20px
          position absolute

          @media (max-width 640px)
            height unset

        .row
          flex-direction row
          align-items flex-start

          a
            @media (max-width 768px)
              margin-top 0
              width 100%

          .offerContent
            display flex
            flex 1
            padding 0 40px 0 0

            @media (max-width 768px)
              flex inherit

            h2
              padding-top 0

            p
              @media (max-width 768px)
                padding 0

          .offerForm
            display flex
            flex 1

            @media (max-width 768px)
              width 100%

            .signup-modal__form
              padding 10px 0 0 0
              width 100%

              @media (max-width 768px)
                width 768px

              .row
                padding-bottom 20px
                span
                  font-size 18px
                  line-height auto
                  color #202020
                  font-weight bold
                  letter-spacing 2.6px

                  @media (max-width 768px)
                    font-size 16px

              .input-form
                margin-top 10px
                border none
                height 52px
                border-radius 10px
                -webkit-box-shadow 0px 10px 15px #ececec
                box-shadow 0px 10px 15px #ececec
                border 1px solid #ececec
                outline 0
                padding 15px
                letter-spacing 2.6px
                font-weight 400

                @media (max-width 768px)
                  height 47px
              .error
                border 1px solid red
                color red

              label
                border none !important
                font-size 14px
                color red
                font-weight 500
                margin-bottom 0

  .businessPwiModal
    .modal-dialog
      height 100%

      .modal-content
        @media (max-width 768px)
          padding 30px 20px
          position absolute

          @media (max-width 640px)
            height unset

        .row
          flex-direction row
          align-items flex-start

          a
            @media (max-width 768px)
              margin-top 0
              width 100%

          .offerContent
            display flex
            flex 1
            padding 0 40px 0 0

            @media (max-width 768px)
              flex inherit

            h2
              padding-top 0

            p
              @media (max-width 768px)
                padding 0

          .offerForm
            display flex
            flex 1

            @media (max-width 768px)
              width 100%

            .signup-modal__form
              padding 10px 0 0 0
              width 100%

              @media (max-width 768px)
                width 768px

              .row
                padding-bottom 20px
                span
                  font-size 18px
                  line-height auto
                  color #202020
                  font-weight bold
                  letter-spacing 2.6px

                  @media (max-width 768px)
                    font-size 16px

              .input-form
                margin-top 10px
                border none
                height 52px
                border-radius 10px
                -webkit-box-shadow 0px 10px 15px #ececec
                box-shadow 0px 10px 15px #ececec
                border 1px solid #ececec
                outline 0
                padding 15px
                letter-spacing 2.6px
                font-weight 400

                @media (max-width 768px)
                  height 47px
              .error
                border 1px solid red
                color red

              label
                border none !important
                font-size 14px
                color red
                font-weight 500
                margin-bottom 0

  .massPayOutModal
    .modal-dialog
      height 100%

      .modal-content
        @media (max-width 768px)
          padding 30px 20px
          position absolute

          @media (max-width 640px)
            height unset

        .row
          flex-direction row
          align-items flex-start

          a
            @media (max-width 768px)
              margin-top 0
              width 100%

          .offerContent
            display flex
            flex 1
            padding 0 40px 0 0

            @media (max-width 768px)
              flex inherit

            h2
              padding-top 0

            p
              @media (max-width 768px)
                padding 0

          .offerForm
            display flex
            flex 1

            @media (max-width 768px)
              width 100%

            .signup-modal__form
              padding 10px 0 0 0
              width 100%

              @media (max-width 768px)
                width 768px

              .row
                padding-bottom 20px
                span
                  font-size 18px
                  line-height auto
                  color #202020
                  font-weight bold
                  letter-spacing 2.6px

                  @media (max-width 768px)
                    font-size 16px

              .input-form
                margin-top 10px
                border none
                height 52px
                border-radius 10px
                -webkit-box-shadow 0px 10px 15px #ececec
                box-shadow 0px 10px 15px #ececec
                border 1px solid #ececec
                outline 0
                padding 15px
                letter-spacing 2.6px
                font-weight 400

                @media (max-width 768px)
                  height 47px
              .error
                border 1px solid red
                color red

              label
                border none !important
                font-size 14px
                color red
                font-weight 500
                margin-bottom 0
