.sliderScreen
  max-width 1018px
  width 100%
  margin 0px auto

  .banner_slider

    .slick-list
      .slick-track
        display flex
        justify-content center

  .thumbnail_slider_area
    .contentWrap
      .contentBorder
        width 100%
        height 1px
        background-color #f1f3f5
        display block

      .thumbnail_slider
        .slick-list
          padding 0 !important

          @media(max-width 1023px)
            padding 0 15px !important

          .slick-track
            display flex

            .content
              width 100%
              max-width 340px
              padding 40px 0 0 0
              margin 0 15px
              border-top 4px solid #ffffff

              @media(max-width 767px)
                max-width none !important

              h5
                font-size 28px
                line-height normal
                font-weight bold
                padding-bottom 16px
                color $gray-600

                @media(max-width 767px)
                  font-size 24px
                  padding-bottom 8px

              p
                font-size 24px
                line-height normal
                font-weight normal

                @media(max-width 767px)
                  font-size 16px
                  line-height 25px

              &:first-child
                margin-left 0

              &:last-child
                margin-right 0


            .slick-current
              border-top 4px solid #1e64ff

              h5
                color $clear-blue

              p
               color $gray-900

              a
                color $clear-blue


      .thumbnail_slider_mp
        .slick-list
          padding 0 !important

          @media(max-width 1023px)
            padding 0 15px !important

          .slick-track
            display flex

            .content
              width 100%
              padding 40px 0 0 0
              margin 0 15px
              border-top 4px solid #ffffff

              @media(max-width 767px)
                padding 16px 0 0 0
                margin 0 4px

              h5
                font-size 28px
                line-height normal
                font-weight bold
                padding-bottom 16px
                color $gray-600

                @media(max-width 767px)
                  font-size 24px
                  padding-bottom 8px

              p
                font-size 24px
                line-height normal
                font-weight normal

                @media(max-width 767px)
                  font-size 16px
                  line-height 25px

              &:first-child
                margin-left 0

              &:last-child
                margin-right 0


            .slick-current
              border-top 4px solid #1e64ff

              h5
                color $clear-blue

              p
               color $gray-900

              a
                color $clear-blue
