.sliderNewScreen
  overflow-x hidden

  @media (max-width 768px)
    padding 0 48px

  @media (max-width 767px)
    padding 0 16px

  .iyzi-container
    position relative
    display flex
    justify-content center
    max-width 970px

    .screenImage
      margin-bottom 200px

      @media (max-width 768px)
        width 100%

      @media (max-width 767px)
        margin-bottom 230px

      img
        display none

        @media (max-width 768px)
          width 100%

      .active
        display flex

      span
        width 100%
        height 1px
        display block
        background-color #f1f3f5
        max-width 970px
        margin 0px auto

      i
        width 151px
        height 4px
        background-color #1e64ff
        display block

    .screenSelect
      position absolute
      left 0
      bottom 0
      margin-bottom 14px

      ul
        width: 1500px
        padding 0
        margin 0
        list-style none
        display flex

        li
          font-size 24px
          line-height normal
          font-weight normal
          max-width 470px
          padding 0 15px
          order 2

          @media (max-width 767px)
            font-size 16px
            line-height 25px
            max-width 260px

          &:first-child
            padding-left 0

          .bulletWrap
            h5
              font-size 28px
              font-weight bold
              line-height normal
              margin-bottom 16px

            p
              color $gray-600

              @media (max-width 768px)
                font-size 24px

              @media (max-width 767px)
                font-size 16px
                line-height 25px

        .active
          order 1

          .bulletWrap
            h5
              color $clear-blue
            p
              color $gray-900
