.sliderTestimonial
  width 100%

  .sliderContainer
    width 100%

    .testimonialBox
      max-width 770px
      width 100%
      margin-right 30px
      display flex
      flex-direction row
      background-color $gray-200
      border-radius 16px
      overflow hidden


      @media (max-width 767px)
        flex-direction column
        margin-right 8px
        max-width 270px

      .testimonialImgBox
        @media(max-width 767px)
          display flex
          overflow hidden
          max-height 157px

        img
          @media(max-width 767px)
            height fit-content
            margin-top -30px


      .testimonialContent
        padding 24px
        display flex
        flex-direction column
        height 100%
        justify-content center

        @media (max-width 640px)
          padding 24px 16px

        i
          margin-bottom 16px

          @media (max-width 767px)
            zoom 0.6

        .description
          font-size 24px
          color $gray-900
          line-height normal
          font-weight normal
          padding-bottom 24px

          @media (max-width 767px)
            font-size 16px
            line-height 1.56
            padding-bottom 16px

        .subTitle
          font-size 16px
          font-weight bold
          line-height 1.56
          text-align right
          color $gray-900

          @media (max-width 767px)
            font-size 14px
            line-height normal
            text-align left
