.subscriptionLP
  .newiyziCards
    .iyzi-container
      .cardWrap
        @media(max-width 960px)
          flex-direction column

        @media(max-width 767px)
          padding-bottom 40px

        .cardBox
          h3
            @media(max-width 960px)
              padding 24px 0

            @media(max-width 767px)
              padding 24px 0 8px 0

          p
            @media(max-width 960px)
              padding 0 0 56px 0

            @media(max-width 767px)
              padding 0 0 40px 0




  .iyziRegister
    @media(max-width 767px)
      padding 56px 0

    .container
      h2
        padding-bottom 32px

        @media(max-width 767px)
          padding-bottom 40px


      .signup-modal__form
        .input-form
          font-size 16px
          border 1px solid $gray-400
          border-radius 8px
          width 100%
          max-width 370px

          @media(max-width 768px)
            max-width 100%
            margin-bottom 32px !important

          &::placeholder
            color $gray-700
            font-weight 500
            line-height 1.5

          @media(max-width 767px)
            margin-bottom 72px

      .buttonGroup
        a
          @media(max-width 767px)
            width 100%

  .iyziLife
    .iyzi-container
      .iyziLifeHeader
        h2
          font-size 40px

          @media(max-width 767px)
            font-size 16px


  .pricing
    @media (max-width 767px)
      margin-top 56px

    .iyzi-container
      .priceWrap
        .priceBox
          &:last-child
            @media (max-width 767px)
              margin-top 16px

    .widgetTitle
      padding 0 0 20px 0
      color $gray-800

    .padTop
      padding 40px 0 0 0

      @media (max-width 768px)
        padding 20px 0 0 0

    .pricingWrap
      display flex
      flex-direction column
      align-items center
      padding-top 48px

      @media (max-width 767px)
        padding-top 32px

      .pricingBoxWrap
        .pricingBox
          @media (max-width 768px)
            padding 0

      .subDescription
        font-size 12px
        font-weight 500
        line-height normal
        padding-top 24px
        color $gray-800
        text-align center

        @media (max-width 767px)
          padding 24px 16px 0 16px

      .form
        display flex
        flex 1
        width 100%
        max-width 370px

        #phone-error
          display none!important

        .offerForm
          width 100%

          .buttonGroup
            margin 0
            width 100%

            .button
              width 100%
              margin-top 32px

        .signup-modal__form
          padding 0
          display flex

          .subForm
            display flex
            align-items center
            width 100%
            flex-direction column

            .inputWrap
              width 100%
              display flex
              justify-content center

              span
                font-size 18px
                line-height 22px
                font-weight 700
                letter-spacing 2.6px
                color #202020

                @media (max-width 768px)
                  font-size 16px


      .pricingBoxWrap
        padding 0

        .pricingBox
          .subTitle
            padding 0 0 5px 0

          .padTop
            padding 40px 0 5px 0

  .pricingBrandLogo
    padding 40px 0 100px 0

    @media (max-width 768px)
      padding 20px 0

  .howToSalesIncrease
    padding 50px 0 0 0

  .whichSectorsSubscription
    margin-bottom 120px

    @media(max-width 767px)
      margin-bottom 72px

    .iyzi-container
      .cardWrap
        @media(max-width 960px)
          flex-direction row

        @media(max-width 767px)
          flex-direction column
          padding-bottom 0

        .cardBox
          h3
            @media(max-width 767px)
              padding 24px 0 40px 0


  .iyzicoSss
    margin-top 120px

    @media(max-width 767px)
      margin-top 56px
