.teamContent
  display flex

  .container
    padding 0

    @media (min-width 1200px)
      min-width 1200px

    ul
      margin 0
      padding 65px 0 94px 0
      display flex
      list-style none
      flex-wrap wrap
      justify-content center

      @media (max-width 640px)
        padding 20px 0

      li
        flex 1
        max-width 270px
        min-width 270px
        margin 15px
        border-radius 10px
        overflow hidden
        position relative


        img
          width 100%
          max-width 270px

        .itemWrap
          position absolute
          width 100%
          margin-top -90px
          color #fff
          height 90px
          display flex
          flex-direction column
          justify-content center
          background-image linear-gradient(to top, #000000, rgba(0, 0, 0, 0))

          .itemContent
            display flex
            flex-direction row

            &:before
              content ""
              margin 0 10px 0 0
              border-style solid
              border-width 3px 0 3px 3px
              border-radius 0 2px 2px 0
              border-image linear-gradient(176deg, #00ece1, #c0c5ff) 1

            .itemBox
              display flex
              flex-direction column

              .name
                font-size 18px
                font-weight 600
                line-height 22px

              .department
                font-size 14px
                line-height 17px

