.timelineWrap
  padding-bottom 60px

  @media (max-width 640px)
    padding-bottom 0

  .container
    padding 0 30px

    @media(max-width 1024px)
      padding 0

.timeline
  position relative
  margin 40px 15px

  @media(max-width 1110px)
    margin-top 0

  @media (max-width 640px)
    margin-bottom 0

  &--vertical-line
    width 4px
    border-radius 5px
    margin 0 auto
    padding-bottom 120px
    background-color #edeeee

    @media(max-width 1110px)
      width 100%
      height auto !important
      background-color transparent

    @media(max-width 640px)
      width 100%
      padding 20px


  &--rows
    clearfix()
    width 100%
    height auto
    position absolute
    left 0
    right 0
    margin-left auto
    margin-right auto
    z-index 1

    @media(max-width 1110px)
      position relative
      height auto
      margin-bottom 30px


  &--left-col
    display block
    position relative
    width 50%
    height auto
    float left

    @media(max-width 1110px)
      width 475px
      float none
      margin 0 auto
      margin-top 60px
      text-align center


    @media(max-width 640px)
      width 100%
      height auto
      margin-top 20px

    &__box
      display block
      position relative
      border-radius 10px
      background-color $white
      box-shadow 0 0 40px 0 rgba(0, 0, 0, 0.1)
      transition box-shadow 0.1s
      padding 30px
      width 475px
      height auto
      margin-top 60px

      @media(max-width 1110px)
        float none
        margin 0 auto
        margin-top 0
        margin-bottom 60px

      @media(max-width 640px)
        width 100%
        margin-top 20px
        margin-bottom 20px
        padding 15px


      &:before
        content ''
        width 80px
        height 4px
        background-color #edeeee
        position absolute
        right 0
        top 0
        margin-top 50px
        margin-right -80px

        @media(max-width 1110px)
          display none


      &:after
        content ''
        width 40px
        height 40px
        border-radius 40px
        background rgba(0, 0, 0, 0.1)
        position absolute
        right 0
        top 0
        margin-top 30px
        margin-right -100px

        @media(max-width 1110px)
          display none


    &__dot
      display block
      width 30px
      height 30px
      border-radius 30px
      background-color $white
      position absolute
      z-index 2
      right 0
      top 0
      margin-top 35px
      margin-right -95px

      @media(max-width 1110px)
        display none


    &__date
      display block
      font-size 24px
      line-height 29px
      color $clear-blue
      font-weight bold
      padding-bottom 10px

      @media(max-width 640px)
        font-size 18px
        line-height 22px

    &__title
      font-size 24px
      color #202020
      line-height 29px
      font-weight bold
      margin-bottom 20px

      @media(max-width 640px)
        font-size 14px
        line-height 19px

    &__summary
      font-size 18px
      line-height 1.67
      color #848484
      padding-bottom 30px

      @media(max-width 640px)
        font-size 14px
        line-height 19px


      .buttonText
        padding 0

  &--right-col
    display block
    position relative
    width 50%
    height auto
    float right
    margin-top 60px

    @media(max-width 1110px)
      width 475px
      float none
      margin 0 auto
      text-align center

      @media(max-width 640px)
        width 100%
        height auto
        text-align center
        margin-top 20px

    &__box
      display block
      border-radius 10px
      background-color $white
      box-shadow 0 0 40px 0 rgba(0, 0, 0, 0.1)
      padding 30px
      width 475px
      height auto
      float right

      @media(max-width 1110px)
        float none
        margin 0 auto
        margin-top 60px

      @media(max-width 640px)
        width 100%
        margin-top 20px
        padding 15px

      &:before
        content ''
        width 80px
        height 4px
        background-color #edeeee
        position absolute
        left 0
        top 0
        margin-top 50px

        @media(max-width 1110px)
          display none


      &:after
        content ''
        width 40px
        height 40px
        border-radius 40px
        background rgba(0, 0, 0, 0.1)
        position absolute
        left 0
        top 0
        margin-top 30px
        margin-left -20px

        @media(max-width 1110px)
          display none


    &__dot
      display block
      width 30px
      height 30px
      border-radius 30px
      background-color $white
      position absolute
      z-index 2
      left 0
      top 0
      margin-top 35px
      margin-left -15px

      @media(max-width 1110px)
        display none


    &__date
      display block
      font-size 24px
      line-height 29px
      color $clear-blue
      font-weight bold
      padding-bottom 10px

      @media(max-width 640px)
        font-size 18px
        line-height 22px

    &__title
      font-size 24px
      color #202020
      line-height 29px
      font-weight bold
      margin-bottom 20px

      @media(max-width 640px)
        font-size 14px
        line-height 19px

    &__summary
      font-size 18px
      line-height 1.67
      color #848484
      padding-bottom 30px

      @media(max-width 640px)
        font-size 14px
        line-height 19px

.timeline--rows
  .press-timeline--row
    &:nth-child(1)
      .timeline--left-col
        &:nth-child(1)
          margin-top 80px
