
.toolTip
  position relative
  cursor pointer

  &:hover
    position relative

  &:hover .toolTipContent
    display flex

.navigationHeaderMenu

  .toolTipContent
    color #202020
    background-color #fff
    position absolute
    border-radius 5px
    box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.5)
    font-weight normal
    max-height 406px
    margin-top -2px
    width 372px
    display none

    ul
      list-style none
      padding 20px 40px
      display flex
      flex-wrap wrap
      flex-grow-1
      flex-direction column
      width 50%

      li
        font-size 18px
        line-height 24px
        margin 12px 0 12px
        width 100%
        padding-left 0 !important
        text-align left !important
        justify-content flex-start
        display flex

        a
          text-decoration none
          color #202020

          &:hover
            color #202020

          &:active
            color #202020

          &:focus
            color #202020

        &:hover
          font-weight bold

          &:before
            content ""
            margin 0 10px 0 -15px
            border 2px solid #000
            border-radius 0 2px 2px 0
            height 23px

    &:before
      position absolute
      content ""
      width 0
      height 0

.toolTip.pL-5
  ul
    li
      padding: 0

.topRight
  top 60px
  right 0px

  &:before
      margin-left 5px
      top -12px
      right 30px
      border-bottom 12px solid #fff
      border-left 12px solid transparent
      border-right 12px solid transparent
footer
  .footerLocation

    .toolTip
      position relative
      cursor pointer

      &:hover
        position relative

      &:hover .toolTipContent
        display flex
        color #202020

    .toolTipContent
      color #202020
      background-color #fff
      position absolute
      border-radius 5px
      box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.5)
      font-weight normal
      max-height 406px
      margin-top -2px
      width 372px
      display none

      ul
        list-style none
        padding 20px 40px
        display flex
        flex-wrap wrap
        flex-grow-1
        flex-direction column
        width 50%

        li
          font-size 18px
          line-height 24px
          margin 12px 0 12px
          width 100%
          padding-left 0 !important
          text-align left !important
          justify-content flex-start
          display flex

          a
            text-decoration none
            color #202020

            &:hover
              color #202020

            &:active
              color #202020

            &:focus
              color #202020

          &:hover
            font-weight bold

            &:before
              content ""
              margin 0 10px 0 -15px
              border 2px solid #000
              border-radius 0 2px 2px 0
              height 23px

      &:before
        position absolute
        content ""
        width 0
        height 0

.bottomLeft
  bottom 40px
  left 0px

  &:before
      margin-left 5px
      bottom -12px
      left 30px
      border-top 12px solid #fff
      border-right 12px solid transparent
      border-left 12px solid transparent
