.vitrutaCampaign
  text-decoration none

  .newHeaderComponent
    background-image url('../images/content/vitruta-bg-image.png')
    background-size auto

    @media(max-width 1023px)
      background-image none

    .iyzi-container
      padding 0 15px

      @media(max-width 1023px)
        background-image none
        padding 0

      .content
        max-width 630px
        min-width 520px

        @media(max-width 1023px)
          max-width 100%
          padding 64px 48px 0 48px
          min-width auto

        @media(max-width 767px)
          padding 16px 8px

        h1
          display flex
          font-weight bold
          line-height 1.4
          font-size 48px

          @media(max-width 767px)
            line-height normal
            font-size 34px

        p
          padding 16px 0 40px 0

          @media(max-width 767px)
            padding 8px 0 24px 0

          br
            @media(max-width 767px)
              display none

        .deercaseLogo
          max-width 270px
          padding 40px 0 0 0
          display flex
          align-items center

          @media(max-width 1023px)
            max-width 100%
            justify-content flex-start
            padding 24px 0 0 0

          @media(max-width 767px)
            justify-content center

          img
            max-height 35px

          span
            width 1px
            background-color #343a40
            height 48px
            margin 0 20px



      .imgResp
        align-self center
        display none

        @media(max-width 1023px)
          padding 0
          display block

        img
          @media(max-width 1023px)
            max-width 100%

          @media(max-width 767px)
            max-width max-content
            max-height 100%

  .iyziLife
    ul
      li
        .itemContent
          p
            max-width 470px

  .generalConditions
    padding 80px 0 120px 0

    @media(max-width 1023px)
      padding 72px 0 120px 0

    @media(max-width 960px)
      padding 80px 0

    @media(max-width 767px)
      padding 24px 0 40px 0

    .iyzi-container
      .content
        background-color $gray-200
        padding 48px 70px
        border-radius 16px
        margin 0 15px

        @media(max-width 960px)
          padding 40px 32px

        @media(max-width 767px)
          padding 16px 8px

        .title
          font-size 34px
          font-weight bold
          line-height normal
          padding-bottom 40px

          @media(max-width 767px)
            font-size 24px
            padding-bottom 16px

        ul
          list-style none
          padding 0 0 0 22px

          li
            font-size 24px
            line-height normal
            position relative
            padding 0 0 32px 0

            @media(max-width 767px)
              font-size 14px
              padding 0 0 16px 0

            &::before
              position absolute
              content ""
              height 6px
              width 6px
              border-radius 16px
              background-color #000000
              left -16px
              top 17px

  .newWhoIsiyzico
    background-color #ffffff
    padding 0

    .container
      .title
        text-align left
        color $gray-900
        font-size 48px
        font-weight bold
        line-height 1.4

        @media(max-width 959px)
          max-width 430px
          margin 0px auto

        @media(max-width 767px)
          font-size 28px
          line-height normal
          padding-left 8px

      ul
        padding 48px 0 0 0

        @media(max-width 959px)
          align-items center

        @media(max-width 767px)
          padding 32px 0 0 0

        li
          @media(max-width 959px)
            max-width 370px

          @media(max-width 767px)
            max-width 100%
            padding 16px 40px

          .sub
            color $clear-blue

            @media(max-width 959px)
              padding 32px 0 8px 0

          img
            @media(max-width 959px)
              max-width 370px

            @media(max-width 767px)
              max-width 240px

  .iyziRegister
    .container
      .downloadBtn
        a
          &:first-child
            margin-right 15px

            @media(max-width 767px)
              margin-right 8px

.dH
  display none !important

  @media(max-width 1023px)
    display block !important


.slazenger
  .newHeaderComponent
    background-image none
    background-color #f5f9ff

    .iyzi-container
      background-image url('../images/content/slazenger-bg-image.png')
      background-size 713px 398px
      background-position right center
      background-repeat no-repeat

      @media(max-width 1023px)
        background-image none
        background-color #ffffff

      .content
        .deercaseLogo
          img
            max-height 44px

      .imgResp
        @media(max-width 1023px)
          background-color #f5f9ff
          display flex
          padding 38px 0

        img
          @media(max-width 1023px)
            max-width 608px

          @media(max-width 767px)
            max-width 272px
