.whoWeAreTabs

  .container
    padding-top 170px
    display flex
    align-items center
    justify-content center
    flex-direction column

    @media (max-width 960px)
      padding-top 90px

    @media (max-width 640px)
      overflow scroll
      justify-content flex-start

    ul
      display flex
      list-style none
      flex-direction row
      border-bottom 1px solid #dfdfdf
      padding 0
      margin 0
      width 100%
      justify-content center

      @media (max-width 768px)
        justify-content space-between
        border none

      @media (max-width 640px)
        -webkit-box-pack justify
        border none
        width auto

      &:after
        @media (max-width 768px)
          content ""
          width calc(100% - 47px)
          height 1px
          background-color #dfdfdf
          display block
          position absolute
          margin-top 76px

        @media (max-width 640px)
          content ""
          width calc(100% - 40px)
          height 1px
          background-color #dfdfdf
          display block
          position absolute
          margin-top 64px


      li
        padding 20px 50px
        font-size 24px
        color #848484

        @media (max-width 768px)
          padding 20px 0
          width 50%
          text-align center

        @media (max-width 640px)
          font-size 16px
          padding 20px 15px 20px 0
          display inline-table


        a
         text-direction none
         color #848484

         &:hover
          color #848484

         &:focus
          color #848484

         &:visit
          color #848484

      .active
        font-weight bold
        color #202020

        &:after
            content ""
            border-bottom 4px solid #000
            border-radius 2px 2px 0 0
            display flex
            margin 16px 0px -24px 0px

        a
          text-direction none
          color #202020

          &:hover
            color #202020

          &:focus
            color #202020

          &:visit
            color #202020
