.whoWeAre
  .teamMemberSays
    margin-bottom 100px

    @media (max-width 768px)
      margin-bottom 80px

  .businessReferencessCards
    padding 60px 0

    .container
      .referencessWrap
        padding 0