.whyiyzicoLP
  padding 0
  display flex
  flex-direction column

  @media (max-width 768px)
    padding 0

  .whoIsiyzico
    background-color transparent
    padding-top 30px

    .container
      flex-direction column


    .brands
      justify-content center

      @media (max-width 640px)
        width auto

      .refBox
        @media (max-width 640px)
          margin 5px 15px

      .mT-30
        margin-top 30px

  .iyziTabs
    padding-top 70px

.businessWhyiyzico
  text-align center
  justify-content center
  width 100%
  display flex
  font-size 48px
  font-weight 700
  color #202020
  line-height normal
  padding-bottom 30px

  @media (max-width 768px)
    font-size 38px

  @media (max-width 640px)
    font-size 24px
    line-height 29px
