.whyiyzico
  padding 75px 0
  display flex
  flex-direction column

  @media (max-width 768px)
    padding 65px 0

  @media (max-width 640px)
    padding 35px 0


  .whoIsiyzico
    background-color transparent
    padding-top 30px

    .container
      flex-direction column

  .container
    flex-direction row
    display flex

    @media (max-width 640px)
      flex-direction column
      align-items center

    .brands
      justify-content center

      .mT-30
        margin-top 30px

    .WhyiyzicoTabs
      width 100%
      border-bottom solid 1px #979797
      display flex
      justify-content center
      font-size 24px
      margin-bottom 65px

      @media (max-width 640px)
        font-size 16px

      p
        margin 0 40px
        padding 10px 0
        color #848484
        cursor pointer

        @media (max-width 640px)
          flex 1
          margin 0
          justify-content center
          display flex

      .active
        font-weight bold
        color #202020
        transform none
        border-bottom 3px solid

  .whyiyzicoBoxWrap
    display flex
    flex-direction row

    @media (max-width 640px)
      flex-direction column

    .whyiyzicoBox
      padding 15px
      text-align center
      flex 1

      .whyiyzicoBoxTitle
        font-size 24px
        font-weight bold
        line-height normal
        color #202020
        padding 40px 0 30px 0

        @media (max-width 768px)
          font-size 18px
          padding 30px 0 20px 0

        @media (max-width 640px)
          font-size 16px
          padding 30px 0 14px 0

      .description
        text-align center
        font-size 14px
        color #848484

      h3
        padding 40px 0 30px 0

        @media (max-width 768px)
          padding 30px 0 20px 0
          min-height 108px

        @media (max-width 640px)
          padding 7px 0 14px 0
          min-height auto


      .icon--payment
        margin-top 12px


.tab-content
  .container
    flex-direction row
    display flex
    padding 30px 0 !important

    @media (max-width 640px)
      flex-direction column

    .whyiyzicoBox
      display flex
      flex 1
      padding 15px
      flex-direction column
      align-items center

      @media (max-width 640px)
        padding 20px 0

      .whyiyzicoBoxTitle
        font-size 24px
        font-weight bold
        line-height normal
        color #202020
        text-align center
        padding 40px 0 30px 0
        margin-bottom auto

        @media (max-width 768px)
          font-size 18px
          padding 30px 0 20px 0

        @media (max-width 640px)
          font-size 16px
          padding 30px 0 14px 0

      .description
        text-align center
        font-size 14px
        color #848484


.businessWhyiyzico
  text-align center
  justify-content center
  width 100%
  display flex
  font-size 48px
  font-weight 700
  color #202020
  line-height normal
  padding-bottom 30px

  @media (max-width 768px)
    font-size 38px

  @media (max-width 640px)
    font-size 24px
    line-height 29px
