.widgetSubTitle
  font-size 42px
  font-weight 500
  color #202020

.widgetDescription
  font-size 18px
  line-height 1.67
  color #848484

  @media (max-width 640px)
    font-size 12px
    line-height 1.67

.flex-direction-row
  flex-direction row

.widgetMainTitle
  font-size 48px
  font-weight bold
  line-height normal
  color #202020

  @media (max-width 768px)
    font-size 38px

.widgetMainDescription
  font-size 18px
  line-height 1.67
  color #848484
  text-align center

  @media (max-width 768px)
    font-size 14px
    line-height 1.71


.flex-1
  flex 1

.mobileHidden
  @media (max-width 640px)
    display none !important
