@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 400;
  src: local('MarkPro Regular'), local('MarkPro'),
       url('../styles/fonts/MarkPro.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../styles/fonts/MarkPro.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 500;
  src: local('MarkPro Medium'), local('MarkPro-Medium'),
       url('../styles/fonts/MarkPro-Medium.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../styles/fonts/MarkPro-Medium.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 700;
  src: local('MarkPro Bold'), local('MarkPro-Bold'),
       url('../styles/fonts/MarkPro-Bold.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../styles/fonts/MarkPro-Bold.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
