body
  padding: 0
  margin: 0
  font-family MarkPro
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  background-color #fcfcfc

.no-margin
  margin 0!important


h1,h2,h3,h4,h5,h6
  margin 0
  padding 0

p
  padding 0
  margin 0

a
  transition color .1s ease-in

a:hover
  text-decoration none

a:focus
  text-decoration none


.gutter-25
  padding-left 25px!important
  padding-right 25px!important


.down-arrow
  @media(max-width 768px)
    display none

img:not([src]) {
  visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal
  @media(max-width 768px)
    top 0
    bottom inherit
    left 0
    right inherit
    padding 0
    margin 0


.modal-dialog
  @media(max-width 768px)
    position fixed
    margin 0
    left 0
    height 100%
    overflow-x scroll

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.custom-dropdown
  width 100%

.bootstrap-select
  width 100%!important

  & .dropdown-menu.open
    border-top-left-radius 0
    border-top-right-radius 0
    border 0
    margin-top -2px

  & .dropdown-toggle
    color #313131
    font-size 14px
    background-color #fff
    border 1px solid #ebecee
    padding 15px 20px
    outline 0

.btn-group.open .dropdown-toggle
  outline 0!important
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
  border 0!important

.dropdown-menu >li > a
  outline 0!important
  color #313131!important


.bootstrap-select.btn-group .dropdown-menu li a.opt
  color #999!important
  padding-left 20px!important


.dropdown-header
  font-size 14px
  color #999
  padding-top 10px!important

.dropdown-menu
  max-height auto !important

.bootstrap-select.btn-group .dropdown-toggle .caret
  right 30px
  margin-top -10px

.caret
  border 0!important

  &:before
    content "\f078"
    font-size 14px
    opacity 0.5
    font normal normal normal 14px/1 FontAwesome

.custom-dropdown-default
  padding 10px 20px!important

.no-gutter-left
  padding-left 0!important

.no-gutter-right
  padding-right 0!important
